[2018-09-17 09:00] abhikt48 commented on #274
Hi Gopal,
Could you please update us, when are you planning to release "2.0.0-PREVIEW" ?

Do you have also high level release plan date of "2.0.0", so we can plan accordingly?

Regards,
Abhishek Kumar

[2018-09-17 21:53] abhikt48 commented on #274
Hi Gopal,

Thanks a lot for your detail update. We love to use transaction feature and
looking forward for this feature.

Regarding Message Conversion - As ServiceBus broker supports different
types of messages like. Text, ByteArray, Object, Map, Stream Messages.

Are you going to provide message conversion of all types (Text, ByteArray,
Object, Map, Stream Messages) or only "text and ByteArray" ?

[2018-09-17 23:13] yvgopal commented on #274
ServiceBus supports multiple types of messages.
This SDK is AMQP only. Amqp supports 3 types of message content, data, amqpvalue, amqpsequence.
Now the SDK supports only data. Data is byte array. You can technically put every type of message into a byte array and send it to service bus.
Other AMQP based clients may used AmqpValue if the body of the message is just a number or string. That's why th

[2018-09-18 00:14] abhikt48 commented on #274
Thanks a lot Gopal for inside details.

On Tue, Sep 18, 2018, 12:13 AM Vijaya Gopal Yarramneni <
notifications@github.com> wrote:

[2018-09-21 12:26] ganeshth opened #280 "'The connection was inactive for more than the allowed 60000 milliseconds and is closed by container 'LinkTracker'"
**Describe the bug**
This has already been addressed in issue #142 , but we are seeing it in azure-servicebus-2.0.0-preview2.jar Is it advisable to use a preview jar?
QueueClient is closing after running for sometime. Unable to receive any messages

**To Reproduce**
Extend the ISessionHandler and pass the created SendClient object as one of the argument. Send messages for every few(say 5) received

[2018-09-21 12:30] ganeshth commented on #280
Hi @yvgopal sorry for the delay. This is the new issue which I opened and also Issue seems to be intermittent and we are seeing it only on few systems. Seems like issue with the jar used. Is it advisable to use a Preview jar?

Following are the answers for your comments from previous issue #142 :
What is the SDK version you are using? I would advise the latest version as we fixed a bug in 1.2.6.
*

[2018-09-21 19:41] yvgopal commented on #273
Resolved in release 1.2.8.

[2018-09-21 19:41] #273 closed

[2018-09-21 19:41] yvgopal commented on #272
1.2.8 is just released.

[2018-09-21 21:31] mloho commented on #272
@yvgopal I read the PR description and it stated that the executor service that is passed in will be used for ALL asynchronous operations within the SB library ecosystem. This might be a dumb question but if I wanted to healthily support handling 20 messages concurrently, would a fixed pool executor service with a size of 20 be enough? Or would 1 message handler thread possibly use up more threads

[2018-09-22 00:15] yvgopal commented on #272
Not for all aysnc operations within SB SDK. SB internally has its own executor service.
What you pass in along with IMessageHandler is used only to call IMessageHandler, ISessionHandler methods.
Your code on your own executor service. SDK code runs on its own executor service.

[2018-09-25 17:10] axisc commented on #280
@ganeshth

If there is no action, the connection is automatically closed. However, the next connection will reconnect automatically.

What you are seeing are just the log statements detailing this behavior.

[2018-09-25 17:27] ganeshth commented on #280
Hi

Closing connection to host is fine, but Stopping the reactor. Is it expected?

[2018-09-25 17:32] axisc commented on #280
can you share the sample code for the repro?

[2018-09-28 01:22] Blackbaud-MattWalsh opened #284 "AmqpException when adding rule to topic subscription"
When trying to add a `RuleDescription` to a service bus topic I get a `Bad Request` error returned with no helpful messaging. As a sanity check, I'm creating a `SubscriptionClient` and successfully publishing/consuming messages with no problem. Once I add a call to add a `RuleDescription` via the `ISubscriptionClient#addRule(java.lang.String, com.microsoft.azure.servicebus.rules.Filter)` method, I

[2018-09-28 19:19] nemakam commented on #284
Could you give a sample code?
Could you also give details on what rule you are adding?
Is this specific to a particular subscription? Try adding this to another subscription and see if it repros.

[2018-09-29 15:04] ganeshth commented on #280
Hi,

Sorry for the delay, I think the cause might be due to architecture difference of our application. We are checking it.

I can share the code based on that. Will keep you posted.

[2018-10-01 20:34] yvgopal commented on #250
Resolved in 1.2.8

[2018-10-01 20:34] #250 closed

[2018-10-11 21:48] yvgopal commented on #280
It has been open for sometime. I assume it is no longer an issue. So closing it now. If you still see the problem, you can reopen it.

[2018-10-11 21:48] #280 closed

[2018-10-12 06:13] VenkteshV commented on #280
Hi, I am observing the same issue when using multiple subscription clients .

[2018-10-15 00:45] emosesrajkumar opened #291 "azure-servicebus-topic-java connection closed by container"
**Describe the bug**
We are using  Azure Service Bus topic subscription via JMS (qpid-jms-client), we are observing the connection to azure service bus getting closed randomly and when it does all we can see the following errors in the log.
`The connection was inactive for more than the allowed 300000 milliseconds and is closed by container 'LinkTracker'`.

As per the comments on similar issue rai

[2018-10-15 22:49] l0n3r4n83r opened #293 "Exception acknowledging messages"
**Describe the bug**
We are seeing the below error when completing the messages received with `receiver.receiveBatch()` call.
[code]

We have tried disabling prefetch to no effect. The batch size is set between 50-100.
Example of the way we create client is shown below -
[code]

**Expected behavior**
The above code swallows the exception mentioned in order to continue processing but this causes du

[2018-10-23 22:48] axisc commented on #184
closing since this has been open for a while and is pending additional information. Please reopen when additional information is available

[2018-10-23 22:48] #184 closed

[2018-10-23 22:52] axisc commented on #274
Trust that this has been answered. @abhikt48, feel free to create another issue in case of more questions.

[2018-10-23 22:52] #274 closed

[2018-10-24 22:46] sjyang18 opened #297 "Service bus Java SDK issue to support managed identity with metadata service and grab a JWT token"
**Focus on exceptions**
According to https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-managed-service-identity, managed service identity should be supported in service bus SDK. I verified the support with .NET SDK, but with Java SDK, it failed with 'connection refused' error at the top level.  While reviewing the code, found that ManangedServiceIdentityTokenProvider is conn

[2018-10-29 00:16] l0n3r4n83r commented on #293
[code]
Here is what i am doing to reproduce this the error happens on the receiver.complete() call.

[2018-10-29 19:02] l0n3r4n83r commented on #293
```2018-10-29 18:58:12,305 WARN || Received delivery '????4CB?,???' state 'Rejected{error=Error{condition=com.microsoft:message-lock-lost, description='The lock supplied is invalid. Either the lock expired, or the message has already been removed from the queue. Reference:f27dfe2e-091c-4dc9-a1db-f2fcd5a5f4a4, TrackingId:70433eac0000315f000000595bd75640_G23_B6, SystemTracker:partner-prod:queue:my

[2018-11-02 08:22] yuhaii opened #300 ""bytes left unconsumed" error occured on azure-servicebus-2.0.0-PREVIEW-7.jar, but same code works well on azure-servicebus-2.0.0-PREVIEW-5.jar"
**Focus on exceptions**
2018-10-31 09:47:40.921  WARN 21888 --- [b9-e3c4d2e0b9c7] c.m.a.s.primitives.MessagingFactory      : Reactor error occured

com.microsoft.azure.servicebus.primitives.ServiceBusException: **bytes left unconsumed**, TrackingId: 037bc9f0-f0d8-43b0-b98a-2129fd9ead00, at: 2018-10-31T09:47:40.917-05:00[America/Chicago]
       at com.microsoft.azure.servicebus.primitives.Messaging

[2018-11-06 06:16] yuhaii commented on #300
Hello Team,

Do you have any update on this?

Thank you!

[2018-11-12 05:40] yuhaii commented on #300
We can steady reproduce this issue now. I am confirming with our customer to see whether we can provide their testing code to you.

I use my queue to try to reproduce this issue. I send the long messages ( see message content in attached file ) with “service bus explorer”. I can steady reproduce this issue with my service bus.

![image](https://user-images.githubusercontent.com/39817657/48328697-3

[2018-11-13 06:04] warrenzhu25 opened #301 "[Question] Service bus topic subscription create new copy of whole topic"
Want to understand how highweight of subscription. Will a new subscription cause another copy of whole topic?

[2018-11-13 20:10] yvgopal commented on #300
Let me investigate and get back to you by the end of this week. Until then, continue using PREVIEW-5.

[2018-11-13 20:22] yvgopal commented on #293
what is the lock duration on your entity?
Let's say you receive a batch of 10 messages. All messages will have the same lock duration. And you are completing them sequentially one after the other. So the last message in your batch will be completed after the first 9 messages are processed and completed. Depending upon how long processing each message takes, the last one's lock might have expired b

[2018-11-13 20:24] yvgopal commented on #301
No. A new subscription doesn't create a copy of the whole topic. Body of the message is shared across all subscriptions of a topic.

[2018-11-13 20:24] #301 closed

[2018-11-14 03:35] yuhaii commented on #300
Got it. thank you very much!

[2018-11-14 19:08] SuhanKoh opened #302 "Update BouncyCastle dependency due to CVE"
**Describe the bug**
Based on the pom file used in this sdk, it is currently using 1.53 bouncycastle API, which has two CVE posted,

- https://www.cvedetails.com/version/258409/Bouncycastle-Legion-of-the-bouncy-castle-java-crytography-ap.html

 as well as a new security bug announcement for all version prior to 1.60

- https://www.cvedetails.com/cve/CVE-2018-1000613/

[2018-11-16 16:11] alechartung opened #303 "Connection Errors with OpenJ9 JVM"
**Describe the bug**

When using this library with [OpenJ9 JVM](https://www.eclipse.org/openj9/) instead of Hotspot, it's not connecting and throwing these errors:

```com.microsoft.azure.servicebus.primitives.ServiceBusException: Error{condition=amqp:connection:framing-error, description='org.apache.qpid.proton.engine.TransportException: connection aborted', info=null}```

**To Reproduce**

I wro

[2018-11-20 19:40] GMillerVarian opened #304 ""No messages received" warning"
Using SubscriptionClient our log file is flooded with messages like the following:

`WARN  c.m.a.s.p.CoreMessageReceiver - No messages received from '<topic>/subscriptions/<subscription>'. Pending receive request timed out. Returning null to the client.`

There is one entry added per minute, per subscription, which is polluting our log.

Should this not be a DEBUG entry, rather than a warning? Isn

[2018-11-21 14:55] radjoshi opened #306 "org.apache.qpid:proton-j messaging library used in com.microsoft.azure:azure-servicebus@1.2.5 has security vulnerability"
**Focus on exceptions**
If your first sample is not running as expected or you notice some WARNING or ERROR traces in the console, it is likely to do with your configuration, not a bug. Focus on the exception thrown to your code, not on the traces alone. Go through our samples, read the API documentation before filing an issue.

**Describe the bug**
A clear and concise description of what the bug

[2018-11-21 14:56] radjoshi commented on #306
The issue is from the org.apache.qpid:proton-j messaging library which is being used by Microsoft azure service bus library (com.microsoft.azure:azure-servicebus@1.2.5 › org.apache.qpid:proton-j@0.22.0).

Affected versions of this package are vulnerable to Man-in-the-Middle (MitM) attacks. it included an optional wrapper layer to perform TLS, enabled by use of the transport.ssl(...) methods. Unles

[2018-11-21 15:50] radjoshi commented on #306
We have found one more vulnerability with azure-servicebus version 1.25 which is using org.bouncycastle:bcpkix-jdk15on@1.53. An ‘Unknown License’  vulnerability is being detected for com.microsoft.azure:azure-servicebus@1.2.5 › org.bouncycastle:bcpkix-jdk15on@1.53.

[2018-11-24 19:33] matyee opened #307 "MessageSender is unable to recover from network error outage"
I use an IMessageSender created by `ClientFactory.createMessageSenderFromConnectionStringBuilder` to feed a queue that I created according to the [samples repository](https://github.com/Azure/azure-service-bus/tree/master/samples/Java). It works well until I simulate a network outage. First, I simulated the network outage by turning off the WiFi on my laptop. I got send timeout errors for a while

[2018-11-24 19:54] matyee commented on #307
I did the network outage test again and let it running to see if something changes after a longer period of time. Unfortunately, my stdout buffer was not big enough to see all the logged messages, but I can see that there was a timeout exception at `19:19:24` and the timeout exceptions kept coming until `19:32:72` when I got the following:
[code]
After the connection was closed and recreated the m

[2018-11-24 21:06] matyee commented on #307
The same problem affects the `MessageReceiver` created by `ClientFactory.createMessageReceiverFromConnectionStringBuilder`. I use the following code for the test.
[code]
I block the incoming packets with iptables for 45 seconds again when loop is sleeping for 5 seconds.
[code]
The result shows that no new messages are received until the connection is aborted and reopened.
[code]

[2018-11-27 01:29] yvgopal commented on #303
we have never tested with OpenJ9 JVM. We haven't claimed support for other JVM's either. Looks ProtonJ is not working with OpenJ9,

[2018-11-27 01:29] #303 closed

[2018-11-28 11:43] abhay-at-eagle opened #310 "Not receiving messages"
Hi,
I have used this java code to test service-bus topic-subscription. The code is able to connect and send  messages. How receiver is not receiving any messages, it keeps on listening for the message on given subscription.
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-java-how-to-use-topics-subscriptions

Steps I performed :
1. created service-bus namespace.
2. Created

[2018-11-30 01:15] yvgopal commented on #297
Fixed with #298. Thanks Seokwon @sjyang18  for finding and fixing it.

[2018-11-30 01:15] #297 closed

[2018-11-30 23:31] #300 closed

[2018-12-03 01:11] emosesrajkumar commented on #291
@yvgopal ,
I have updated to 1.2.8 and yet still see the issue is happening again. I had to restart my prod instance this morning.

Please find the attached trace logs. Can you please comment on this ?
[amqpFailure-12-3-2018.log](https://github.com/Azure/azure-service-bus-java/files/2637666/amqpFailure-12-3-2018.log)

[2018-12-03 16:02] pjypjy opened #311 "NullPointerException while sending"
queueClient.sendAsync( message).exceptionally((Throwable e) ->{
            logger.error("error",e);
            return null;
       });

Caused by: java.lang.NullPointerException
	at com.microsoft.azure.servicebus.MessageConverter.convertBrokeredMessageToAmqpMessage(MessageConverter.java:50) ~[azure-servicebus-1.1.2.jar!/:?]
	at com.microsoft.azure.servicebus.MessageSender.sendAsync(MessageSender

[2018-12-03 22:22] yvgopal commented on #311
how are you creating a message? Can you paste that code?

[2018-12-03 22:31] emosesrajkumar commented on #291
@yvgopal

I have provided the a zip file with my configuration along with the class in the initial thread, am adding it again here.
[azure-servicebus-topic-subscription.zip](https://github.com/Azure/azure-service-bus-java/files/2641528/azure-servicebus-topic-subscription.zip)

**Expected behavior**
We have implemented a MDB with a messageListener and have deployed it to the application server (Wil

[2018-12-04 00:10] emosesrajkumar commented on #291
@yvgopal

I looked at the application server config and I feel the re-delivery (i.e. reconnect) needs to be specifically set for the topic. I will get a try and let you know if that solved my problem.

[2018-12-04 19:48] yvgopal commented on #311
Can you try with the latest version of the SDK 1.2.8? If the issue reproduces, I will quickly fix it in 1.2.9. 1.1.2 is the older version.

[2018-12-05 00:41] pjypjy commented on #311
Okay, if there's a problem, I'll give it back, because it's not necessarily happening.

[2018-12-05 00:41] #311 closed

[2018-12-05 19:46] yvgopal commented on #310
How did you create the subscription? Did you see if there are messages in the subscription? You can check that on Azure portal. If your subscription doesn't have the right filter, messages might not have been pushed to the subscription.

[2018-12-06 13:14] svuksic commented on #304
I also have same problem. I want to disable just this message.

[2018-12-11 09:05] peterbomers opened #312 "TimeoutException: UpdateState request timed out in version 1.2.8"
Hay

I've recently updated our source to use the 1.2.8 version and I in our production environment we get strange issues. After a random number of days the subscription client starts producing TimeoutExceptions with message "UpdateState request timed out. Delivery:?????????".

The application processes the message successfully but the final call to the service bus to ack the message fails. This re

[2018-12-18 01:08] yvgopal commented on #312
Need some more info.
1. Do you set prefetch count on the subscription client?
2. What do you mean by 'after random number of days'? Approximately one week or one month?
3. What happens after you get this exception? Does your subscription client continue to receive and complete messages?
4. Occasional time out is expected. But such time outs should not be continuous and should never be more than 1

[2018-12-18 09:05] peterbomers commented on #312
No, the prefetch count is untouched. (zero by default)

Sometimes the issue occurs after 1 or 2 days but at the moment it's running stable for 8 days.
Highest uptime is around 21 days.

The message is received by the subscription client and the business logic runs as expected (logging each step). In the end the complete method on the subscription client is called and this triggers the exception.

[2018-12-18 20:11] yvgopal commented on #312
Ok. Your client seems to be running fine.
Can you give me the namespace, entity name, and the sequence number of the message for which completions timed out 10 consecutive times? Also at least one timestamp (UTC) of the timeout exception? I will take a look at the logs on the service and see if something is wrong.

[2018-12-19 07:33] peterbomers commented on #312
namespace: livestock-cloud-service-bus-prod
entity: animal-end-of-day
sequence number: 21110623253404171
exception timestamp:  09/12/2018, 07:17:20

[2018-12-22 00:55] yvgopal commented on #312
I looked at the traces on the service. One of the front end nodes was experiencing high CPU at the time and some requests from your client to that node timed out. The message with the sequence number you provided couldn't be completed multiple times, but its lock was renewed few times. So some operations timed out and some succeeded. Unfortunately all timed out operations are 'complete' calls. Aft

[2018-12-27 22:35] yvgopal commented on #306
Both issues fixed in 1.2.9.

[2018-12-27 22:35] #306 closed

[2018-12-27 22:36] yvgopal commented on #302
I have removed that dependency altogether in version 1.2.9.

[2018-12-27 22:36] #302 closed

[2018-12-28 11:05] archit90 opened #316 "NPE in MessageConvertor in v1.2.9"
**Describe the bug**
Message containing `properties` with some key and value as `null` is produced to ServiceBus.
At consumer side, we get a NPE.
We saw that in MessageConvertor `convertedProperties.put(entry.getKey(), entry.getValue().toString());` is invoked and when `entry.getValue()` is `null`  there will be NPE

**To Reproduce**
Produce and consume a message in ServiceBus with following prope

[2018-12-29 00:14] DT209 commented on #304
+1

[2019-01-05 00:11] MStumpp opened #319 "Memory leak regarding threads started by SubscriptionClient"
**Describe the bug**
When undeploying a Tomcat8 application (war), Tomcat warns about a memory leak regarding threads which could not be stopped. It happens even SubscriptionClient.close() is called.

**To Reproduce**
Create a war application, which set up a SubscriptionClient and registers a MessageHandler and configures n (128 in my case) concurrent calls (MessageHandlerOptions).

Code can be ta

[2019-01-06 08:57] l0n3r4n83r opened #320 "Delivery not found for delivery tag"
2019-01-06 08:52:12,481 ERROR  ||  Delivery not found for delivery tag '<?sDMII?
K?BI'. Either receive link to 'my-queue' closed with a transient error and reopened or the delivery was already settled by complete/abandon/defer/deadletter.   [com.microsoft.azure.servicebus.primitives.CoreMessageReceiver]

[2019-01-08 01:34] yvgopal commented on #319
what is the name of the thread?

[2019-01-09 00:41] yvgopal commented on #316
Resolved in 1.2.10

[2019-01-09 00:41] #316 closed

[2019-01-11 03:51] warrenzhu25 opened #324 "[Question] How to increase receiving throughput"
I found receiver side of queue cannot catch up with producer speed. I found there're some possible ways to improve this:

1. Increase max concurrent calls in MessageHandlerOptions. Does it have some side effects?
2. Pass a big thread pool when registering message handler. How should I decide the size of thread pool. Is this related with max concurrent calls?
3. According to official doc, `To incre

[2019-01-11 12:45] rs10615 commented on #110
I have two spark job for the different tenant, one of spark job has ended up with an exception while receiving data from the event hub.

2019-01-11 01:01:37 INFO  ReceiveLinkHandler:62 - onLinkRemoteOpen linkName[61c8c1_3f3c_G1_1547190097227], remoteTarget[null], remoteSource[null], action[waitingForError]
2019-01-11 01:01:37 INFO  BaseLinkHandler:42 - onLinkRemoteClose linkName[61c8c1_3f3c_G1_154

[2019-01-11 14:33] anthonykirby opened #325 "EventReceiver logs a warning and stops receiving messages, but doesn't propagate error to client code"
**Describe the bug**

EventHubClient logs an error without propagating it to the user, and stops receiving messages -  com.microsoft.azure.eventhubs.impl.MessagingFactory catches an unhandled exception and emits an WARN level error message.

No exceptions are thrown to user code, but no further messages are received, and the application subsequently keeps running but idle.

**To Reproduce**

This

[2019-01-11 14:46] anthonykirby commented on #325
moving to https://github.com/azure/azure-event-hubs-java

[2019-01-11 14:46] #325 closed

[2019-01-11 20:14] yvgopal commented on #110
This is a totally different issue. Please open an issue at https://github.com/Azure/azure-event-hubs-java

[2019-01-11 20:41] Blackbaud-MattWalsh opened #326 "MessageBody in 1.2.10 is not marked as serializable"
In the latest release of the client (1.2.10), Message now contains MessageBody which doesn't implement Serializable. Can this be added?

[2019-01-15 20:31] yvgopal commented on #326
I will add it and release a new version by the end of this week.

[2019-01-15 20:49] Blackbaud-MattWalsh commented on #326
thanks!

[2019-01-16 03:08] yvgopal commented on #326
Just pushed release 1.2.11. Should be available in maven central repo in the next few hours.

[2019-01-16 03:08] #326 closed

[2019-01-16 03:32] yvgopal commented on #324
If you are using PEEKLOCK mode, Receive is two operations (receive + complete) while send is only one operation. So Send throughput is generally higher than receive throughput.
Answer to your questions..
1. No side effects. That means more parallel threads receiving messages. It will help.
2. Ideally threadpool size should be equal (or little more) to the maxconcurrent calls. Each onMessage call h

[2019-01-16 03:32] #324 closed

[2019-01-16 08:30] warrenzhu25 commented on #324
Thanks for your reply. I try to understand the basic flow of receiving:

1. Receiver will send a request to broker to receive the message. The number of messages returned is controlled by prefetch count.
2. Then suppose prefetch count is 10. We have 10 message on the receiver side. So we can start 10 concurrent calls of OnMessage if maxConcurrentCall is greater than 10.
3. These concurrent calls a

[2019-01-16 21:36] yvgopal commented on #324
1. Not exactly. PrefetchCount says how many messages to receive as soon as a receiver is created, even before your application calls receive() method. That makes your receive faster as the message was already fetched from the broker, even before a receive is called.
2. PrefetchCount is not related to concurrent calls. Even with 0 prefetch count, you can have 10 max concurrent calls. Prefetch count

[2019-01-17 06:54] skhro87 opened #329 "Connection aborted when trying to connect"
## Actual Behavior
1. Try connecting to Azure Service Bus Queue:
[code]
2. Receive exception:
[code]

## Expected Behavior
1. Connect without exception

## Versions
- OS platform and version: Windows 10 1803
- Maven package version or commit ID: I tried different versions from ```1.2.5``` to ```1.2.11``` without success
When I use the latest ```2.0.0-PREVIEW-7```, the exception is
[code]

___Pleas

[2019-01-22 05:52] skhro87 commented on #329
When I build my app and deploy it to one of our servers, it works.

So it really seems to be a connectivity issue. Which doesn't really make sense because as mentioned, I can connect to service bus from my machine using the Service Bus Explorer tool.

I think this should be treated as a bug.

[2019-01-23 13:11] lchrissl26 opened #330 "Getting existing sessions IDs of queue or subscription client using the Java SDK."
How can I enumerate existing sessions in a queue or a subscription using the Java API? I could read this on: https://docs.microsoft.com/en-us/azure/service-bus-messaging/message-sessions.

"All existing sessions in a queue or subscription can be enumerated with the SessionBrowser method in the Java API and with GetMessageSessions on the QueueClient and SubscriptionClient in the .NET client..."

Bu

[2019-01-23 15:42] jordanjennings opened #331 "What is the intended usage of MessageBody.getBinaryData()?"
Since `IMessage.getBody()` is now deprecated, it seems we are supposed to be using `IMessage.getMessageBody().getBinaryData()` but this returns a `List<byte[]>` instead of just a `byte[]`.

In the JavaDocs for `MessageBody.fromBinaryData` I see this note:

Looking into the implementation it's clear that there's only ever 1 element in that list currently:

https://github.com/Azure/azure-service-bus

[2019-01-23 20:50] yvgopal commented on #331
The change is to inter-operate with other AMQP clients. We have some customers using a JMS AMQP client to send messages to service bus and receive using this SDK. To support those scenario, this SDK must support the AMQP spec.

No. As long as your application is using this SDK to send and receive messages, you will not see multiple data sections. More precisely, you will receive the message exactl

[2019-01-23 20:50] #331 closed

[2019-01-23 21:09] jordanjennings commented on #331
@yvgopal It makes sense to add support for AMQP, but can I suggest that you un-deprecate `IMessage.getBody()` for the standard use case where there's only one data section in the body? Perhaps add some mention in the documentation pointing to the new methods for cases where the body isn't just a single `byte[]`? Reducing usability for the standard use case feels like a step in the wrong direction,

[2019-01-23 22:42] yvgopal commented on #330
This feature was already coded in the SDK. Our .net core SDK doesn't have those methods implemented. I had to hide those method just so both the SDKs are similar. I am going to make them public in the upcoming 2.0 release.

[2019-01-23 22:44] yvgopal commented on #331
I understand your point. But the IMessage.getBody() is too simplistic, and has many problems inter-operating even with out own service bus clients. As a team, we had decided to deprecate it, for good reason. I am sorry I can't un-deprecreate it. Thanks for the feedback though.

[2019-01-23 22:53] yvgopal commented on #329
ServiceBus explorer uses a mix of Http and SOAP over TCP calls. This SDK uses AMQP over TCP, on a different port. ServiceBus explorer uses http to connect and list queues and topics. It doesn't mean other SDKs have to connect as well. May be your network was blocking non-http calls, or blocking connections to a specific port. I don't know. This SDK has been out there for more than a year now and m

[2019-01-23 22:53] #329 closed

[2019-01-25 20:21] yvgopal commented on #196
I will try to reproduce it on 1.2.11 and see if it really needs a fix.

[2019-01-26 03:50] yvgopal commented on #330
I discussed this with my team. There were mixed opinions about exposing that API. The API gets only the first 100 sessions, and it doesn't work if it has more than 100 sessions. Do you have a business need for it? Could you explain it? Our ISessionHandler API will cycle through all sessions anyway.

[2019-01-28 20:50] yvgopal commented on #330
ISessionHandler will give you the session and the message as arguments to the onMessageAsync method. So you will know the session id and all message properties as well inside the method. You should be able to receive every message from every session using a session handler.

[2019-01-28 20:50] #330 closed

[2019-01-28 20:54] yvgopal commented on #196
@anurags123 This issue is very likely not the same as yours. You are experiencing a SEND timeout. All timeouts are not same. Please open another issue, with detailed description of when you see this timeout and if your application recovers from it or not.

[2019-01-29 02:22] yvgopal commented on #196
I have just tested this behavior myself and found everything is working fine. It was in fact a bug and was fixed in PR https://github.com/Azure/azure-service-bus-java/pull/236 . Please use the latest version of the SDK 1.2.11. It also works in some older releases. But I suggest every one to switch to the latest when they are switching the SDK version.

[2019-01-29 02:22] #196 closed

[2019-01-29 09:18] anurags123 commented on #196
Ok.Thankks @yvgopal  for the response and suggestion.

[2019-01-30 01:11] eperov opened #332 "Connecdtion to SB fails: anonymous cipher suites are within the supported list"
Hi,
Connection to Service Bus fails with the error.
The same code works from another machines.

com.microsoft.azure.servicebus.primitives.ServiceBusException: org.apache.qpid.proton.engine.TransportException: None of  [TLS_DH_anon_WITH_AES_128_CBC_SHA, SSL_DH_anon_WITH_3DES_EDE_CBC_SHA, SSL_DH_anon_WITH_DES_CBC_SHA, SSL_DH_anon_EXPORT_WITH_DES40_CBC_SHA] anonymous cipher suites are within the supp

[2019-02-01 13:39] anurags123 opened #333 ""com.microsoft.azure.servicebus.primitives.TimeoutException: Send operation timed out at 2019-01-28T15:08:36.149+05:30[Asia/Kolkata]., errorContext[NS: xxx.servicebus.windows.net, PATH: xxxxxx-ba59-4957-9c92-xxxxxxxxx, REFERENCE_ID: 975311_33f8560710de40f9942328e2e993b68f_G18, LINK_CREDIT: 592]""
**Focus on exceptions**
We are trying to send message to the topic in our application.
While sending the message, we receive the below mentioned exception/error and the application goes down.

errorContext[NS: ******-*******.servicebus.windows.net, PATH: *******-ba59-4957-9c92-*********, REFERENCE_ID: 195499_38d4306434c64134a9516e29698eb33f_G28, LINK_CREDIT: 640]
	at com.microsoft.azure.servicebus

[2019-02-01 13:41] anurags123 commented on #196
Hi @yvgopal ,

After your suggestion, I upgraded the SDK version to 1.2.11, still the application gets down because of the timeout exception.

I have opened a new issue : https://github.com/Azure/azure-service-bus-java/issues/333
Please help us here as we see a very big business impact because of this failure.

[2019-02-01 19:50] yvgopal commented on #332
Is the JRE vesion same on both machines? The SDK relies on default Java provider for security.

[2019-02-01 19:56] yvgopal commented on #333
Do you mean the SEND will never succeed after this?
How long does your application run before you see these timeouts? Does your application also receive messages? If yes, can you paste the code you are using to receive messages?
If you are registering a message handler, you should ideally pass your own ExecutorService. If you are not passing an ExecutorService, make that change and see if it works

[2019-02-01 20:36] eperov commented on #332
Yes, the java version is the same.

From: Vijaya Gopal Yarramneni [mailto:notifications@github.com]
Sent: Friday, February 1, 2019 11:51 AM
To: Azure/azure-service-bus-java <azure-service-bus-java@noreply.github.com>
Cc: Edouard Perov <Edouard.Perov@ca.abb.com>; Author <author@noreply.github.com>
Subject: Re: [Azure/azure-service-bus-java] Connecdtion to SB fails: anonymous cipher suites are withi

[2019-02-01 20:38] yvgopal commented on #332
Please check your java security configuration. It is a bug or anything. On that machine, may be you are using a different security provider.

[2019-02-02 05:36] anurags123 commented on #333
Hi,

Please see my responses inline:

1. Do you mean the SEND will never succeed after this? - True. No recovery happens and we keep on getting these exceptions from SDK unless we restart the production server.

2. How long does your application run before you see these timeouts? - It's an intermittent issue. Mostly we have to restart the servers once a day in order to recover from this.

3. Does

[2019-02-04 21:54] yvgopal commented on #333
ok. Can you enable logging and capture logs? I need logs for 30 minutes ending at the time these timeout start, with at least INFO level logging. The SDK uses SLF4J, so you can any supported logging framework to capture logs.

[2019-02-04 22:07] eperov commented on #332
Hi, would you pelase check how to check it out.

[2019-02-06 21:21] klam2010 commented on #121
On the flip side, would there be a way to do the same for QueueClients? Or Possibly add it as a SessionHandlerOptions to be able to set the session id?

[2019-02-06 22:52] yvgopal commented on #121
It is the same for QueueClient and SubscriptionClient. We have SDKs for multiple langugages, and we haven't yet finalized an API model for this. Let it be known that we are taking a serious look at this.

[2019-02-08 09:00] nikesh-dev commented on #332
@eperov What's the jre version?

[2019-02-08 17:11] eperov commented on #332
The problem is resolved by downgrading Java from 1.8.0_201 to 1.8.0_191.

[2019-02-11 12:05] olgakorichkovskaya opened #335 "Client stop consuming messages form SB"
Client of Service Bus stops consuming messages from queue.
It occurs after a network problem (when client temporary can't connect to Azure) - for instance lack of internet. **When Internet connection is back, Azure SDK is not able to establish connection to Azure Service Bus again.**

In logs there are many similar exceptions:

[code]
and also

` No messages received from 'queue_name'. Pending rec

[2019-02-14 14:21] jemag commented on #219
Similar thing happens to me using service bus topic stream binder 1.1.0RC2 (see referenced issue above)

[2019-02-14 20:43] yvgopal commented on #219
@jemag This was an older issue and was fixed in SDK version 1.2.6. I suggest you start using the latest version of java SDK 1.2.11.

[2019-02-14 20:53] jemag commented on #219
@yvgopal the version I mentionned is for the spring-cloud-azure-servicebus-topic-stream-binder and there doesn't seem to be any newer (than 1.1.0RC2) version available on public repositories.

Do you mean manually replacing the azure-servicebus dependency within the spring-cloud-azure-servicebus-topic-stream-binder?

[2019-02-14 20:55] yvgopal commented on #219
@jemag I don't know how the spring binder package is released. You should ask them to switch to the latest version of service bus SDK. Until then you can manually add maven dependency to the latest version of java SDK.

[2019-02-14 20:57] jemag commented on #219
kk, thank you. Will do.

[2019-02-15 15:10] jemag opened #336 "Invalid UUID error might cause OutOfMemoryError"
**Describe the bug**
I will try to be brief since the issue, with all the necessary details, has already been created on the spring-cloud-azure side. (https://github.com/Microsoft/spring-cloud-azure/issues/472)

Basically, there was a problem in the service bus topic stream binder that would not accept ids without "-". This creates an exception with their message converter. Those specific exceptio

[2019-02-18 12:45] olgakorichkovskaya commented on #335
The mentioned exception is thrown all the time until the client restart.

Just before the mentioned exception was thrown the following:

[code]

It could be the reason of stopping message consuming.

[2019-02-20 10:07] olgakorichkovskaya commented on #335
After client application restart, client is able to establish connection to Azure and continue consuming messages.

[2019-02-21 15:57] rakeshkumarpandit opened #337 "Passing Custom Executor while publishing message"
I wanted to have a custom executorService supplied while publishing message instead of using the default exectorService.

Use case is I wanted to have the thread context variables carried forward when the request is executing in a separate thread so that it can log relevant details which is required for debugging issues. This will help in keeping track of requests flowing in the system by using so

[2019-02-22 01:57] Blackbaud-MikeLueders opened #338 "Expiration of SAS token is not respected"
**Describe the bug**
If a ConnectionStringBuilder is created and the connection url defines a SharedAccessSignature, an infinite loop of token refreshes happens SecurityConstants.DEFAULT_SAS_TOKEN_VALIDITY_IN_SECONDS seconds after the message sender is created.  The cause is this - https://github.com/Azure/azure-service-bus-java/blob/2edad13482989ad7fcce72eb5883a8dff674aa6b/azure-servicebus/src/ma

[2019-02-22 03:10] ancientelves opened #339 "(service bus topic) always create connect to service and last jvm out of memory"
1.connect to serviceBus and can receive message success
2.after a while appear some same  exception,one of it is below:
ServiceBusException: Error{condition=amqp:connection:forced, description='The connection was inactive for more than the allowed 60000 milliseconds and is closed by container 'LinkTracker'. TrackingId:0f8601a8c4994d7faa8e6d375f80dd43_G6, SystemTracker:gateway8, Timestamp:2019-02-1

[2019-02-22 03:14] ancientelves commented on #339
if i can do something to prevent this appear again?thanks

[2019-02-22 20:52] Blackbaud-MattWalsh commented on #304
+1 change this to a debug instead of a warn. unless there's something we can do differently, this is just noise.

[2019-02-24 19:55] backendjavadeveloper commented on #320
hi @yvgopal ,
We are using Azure Service bus only for its scheduled messaging feature. Our component uses the ASB JAVA SDK version 1.2.10 for azure servicebus interactions.

We make use of partitioned queue which has a dead letter queue associated with it. Everything works well with the Main queue’s listener; however, when we try to implement the listener for the dead letter queue using the IQueue

[2019-02-25 20:22] yvgopal commented on #320
@backendjavadeveloper what is the name of queue you are using to create the queueclient? You should consider deadletter queue as a separate queue, create a new queue client on it and complete messages using the same queue client.
Can you paste the code for your implementation to receive and complete messages from the deadletter queue?

[2019-02-25 20:26] yvgopal commented on #339
Fix the issue of JVM running out of memory. Either your JVM settings specify very low memory or some other program is eating all your memory. Correct the memory issue and you are good. Inactive links and connections are closed after some idle time and client reconnect automatically. That is not the problem.
Out of memory is your problem. I can't really help with that.

[2019-02-25 20:26] #339 closed

[2019-02-25 20:29] yvgopal commented on #337
No other customer asked for it. I still don't see a business case for us to build this now.
You will have to find another way, like using a unique message id to track the logs. The SDK supports SLF4J and already provides extensive logging.

[2019-02-25 20:29] #337 closed

[2019-02-25 20:46] yvgopal commented on #335
This issue is fixed long time back. Why are you still using SDK version 1.0.0? 1.2.11 is the latest.

[2019-02-25 20:46] #335 closed

[2019-02-25 21:55] tobiasb opened #340 "NoSuchMethodException when creating QueueClient"
**Describe the bug**
When building a `QueueClient` I get a `NoSuchMethodException`:

`IQueueClient client = new QueueClient(new ConnectionStringBuilder("Endpoint=sb://deleteme.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=<key>", "queue name"), ReceiveMode.PEEKLOCK);`
(yes, "deleteme" is the name of my servicebus namespace)

[code]

I also tried specifying t

[2019-02-26 02:31] yvgopal commented on #340
Azure EventHubs SDK has classes with same names as Azure ServiceBus SDK. That was fixed in the later versions of EventHubs SDK.  Switch to the latest version of EventHubs SDK and your problem will be gone.

[2019-02-26 02:31] #340 closed

[2019-02-26 03:47] tobiasb commented on #340
Thank you @yvgopal

[2019-02-26 07:58] olgakorichkovskaya commented on #335
Hi Vijaya,

I would be nice from your side before closing this ticket mention in which version this bug was fixed.
Or there is no information about it?

Why we are using not the latest version?
As well as _azure-service-bus-java_, we are using also _com.microsoft.azure:azure-servicebus-spring-boot-starter_  - it is Microsoft starter for Azure Service bus, so _azure-service-bus-java_ is just transi

[2019-02-26 23:40] yvgopal commented on #335
No .. it is not fixed in 1.2.5. It is fixed in 1.2.6. Here is a link to the relase https://github.com/Azure/azure-service-bus-java/releases/tag/1.2.6

[2019-02-28 08:16] AbhijeetThakur commented on #335
I also face the above issue. After consuming some messages from the SB a client of Service Bus stops consuming messages from the queue. (This scenario happens only when I'm trying to consuming the message from any framework like Spring boot or Dropwizard. The client of service bus works fine when I'm consuming the message from void main function in the java.)
In logs I'm getting this error:

`java

[2019-02-28 09:04] sergiaguilar commented on #280
Hi there!!

I have the same problem, and i don't want those lines in my log:

com.microsoft.azure.servicebus.primitives.ServiceBusException: Error{condition=amqp:connection:forced, description='The connection was inactive for more than the allowed 60000 milliseconds and is closed by container 'LinkTracker'. TrackingId:50e355b3ddbc4bb1b775ca128b31f462_G10, SystemTracker:gateway7, Timestamp:2019-02-

[2019-02-28 09:05] sergiaguilar commented on #142
Hello everybody!

How can i solve this problem??

com.microsoft.azure.servicebus.primitives.ServiceBusException: Error{condition=amqp:connection:forced, description='The connection was inactive for more than the allowed 60000 milliseconds and is closed by container 'LinkTracker'. TrackingId:50e355b3ddbc4bb1b775ca128b31f462_G10, SystemTracker:gateway7, Timestamp:2019-02-28T08:55:00', info=null}

I

[2019-02-28 09:29] olgakorichkovskaya commented on #335
Hi @AbhijeetThakur,

Are you using pure azure-servicebus maven dependency or some Azure Service Bus Spring Boot starter (or other starter for Azure)?

@yvgopal
If the issue still occurs in later versions, shouldn't be ticket reopened?

[2019-02-28 09:37] AbhijeetThakur commented on #335
Hi @olgakorichkovskaya,
We're using pure azure-service-bus maven dependency.

[2019-02-28 15:00] Blackbaud-MikeLueders commented on #338
I should mention the work-around for this is fairly straight forward - extract the expiry time from the token yourself, construct the ClientSettings using the correct token and use ClientFactory methods that accept the ClientSettings object instead of ConnectionStringBuilder.  That said, the ConnectionStringBuilder method is what many of the examples here https://github.com/Azure/azure-service-bus

[2019-02-28 20:18] yvgopal commented on #280
That log states that the service closed your connection as it was idle. The SDK must log it, as a WARN, to know what happened with the connection and links.

[2019-02-28 20:25] yvgopal commented on #335
@AbhijeetThakur It is a coding bug. The receiver or queue client is closed, before the complete is called. The exception message says it all. Check which part of your code is closing the receiver or queue client. If you are using sessions, check if you are properly not checking OnCloseSessionAsync method.
@olgakorichkovskaya I am 100% sure that was fixed long time back. We have tests dealing with

[2019-02-28 20:32] backendjavadeveloper commented on #320
Thanks @yvgopal . You were right. I had found my code issue after posting my question here but forgot to update this thread. It was my code issue where i had copied the wrong queue client instance for my dlq listener. After making the queueClient change, i was able to surpass the exception.

Thanks a ton for your help :)

[2019-03-01 07:02] sergiaguilar commented on #280
Thanks, i know that this is what is happening. But i would like to know if it's possible to not show this log...
Thanks

[2019-03-01 11:24] NairRahulMohanan commented on #255
@yvgopal  How do I stop the logging? _org.slf4j.Logger_ does not have a _setLevel()_ method. _org.apache.log4j.Logger_ does but it wont work.

I would like to limit the entries to ERROR messages alone so I am guessing setLevel(Level.ERROR) should do the trick. Could you please help with this?

[2019-03-01 22:35] #320 closed

[2019-03-02 01:19] yvgopal commented on #332
It is because JRE 8 update 201 disabled some anonymous cipher suites used by ProtonJ. This issue is fixed in the newer version of ProtonJ. SDK version 1.2.9 switched to newer ProtonJ version, which doesn't throw this error. So this issue is already fixed in version 1.2.9 and later.

[2019-03-02 01:19] #332 closed

[2019-03-04 20:02] yvgopal commented on #336
I have looked at the errors generated by the sprint integration library. Fixing that error will fix the memory issue too. Those DeliveryImpl objects that you found on the heap are not leaks. AMQP receivers have to keep deliveries in memory, so they can be either completed/deadlettered/abandoned/deferred. When a client is receiving messages but not acting on them ( in your cases, it is because of t

[2019-03-04 20:02] #336 closed

[2019-03-06 01:56] warrenzhu25 commented on #336
I have used `IMessageHandler` to handle message in an aync way. I suppose this `IMessageHandler`  should handle any exception thrown by `onMessageAsync()` properly. Do you have a code sample to show how to defer the message when exception thrown in  `onMessageAsync()`?

[2019-03-06 02:45] yvgopal commented on #336
IMessageHandler handles any exception thrown by onMessageAsync() method. You don't have to worry about unexpected, unhandled exceptions causing memory leaks. In this case, I don't know if exception is floting up to caller calling onMessageAsync. Could you check that?
If you think there is a memory leak, you can write a simple message handler that throws an exception and see what happens.

[2019-03-06 07:19] peterbomers commented on #312
FYI this morning the issue reappeared. (after working for several months)

[2019-03-06 12:44] vstoyanov commented on #304
This one should obviously be DEBUG and some WARN in the very same class should be ERROR. We are using ASB in a microservices context (what a surprise!) and on dev on some services this spam is >50% of the logs!!!!

This is not a critical issue only if application monitoring is not a concern.

[2019-03-07 06:44] singhraminder commented on #24
@yvgopal @binzywu @nemakam - what is current status on this issue?
Is this fixed in any subsequent releases?

[2019-03-07 15:06] marcioos commented on #331
I'm experiencing the same issue, it feels silly to call `getBinaryData().get(0)` every time. I suggest making `Utils.getDataFromMessageBody` public, at least. Then we can use that utility method instead.

[2019-03-07 15:16] jordanjennings commented on #331
@marcioos That's a reasonable suggestion (and better than the alternative) however I think it's still poor UX. The `IMessage` object itself should have methods to retrieve the body in a user-friendly way. And as you have stated, `message.getMessageBody().getBinaryData().get(0)` feels pretty silly (and looks like a potential bug in the code).

[2019-03-07 15:23] marcioos commented on #331
I agree @jordanjennings, having it in `IMessage` or in `MessageBody` would look better from an OO perspective. My suggestion targets what I think that is the "lowest hanging fruit". But I would rather see an `IMessage#getBodyFirstDataSection` or a `MessageBody#getFirstDataSection`, which would be more aligned with a "Tell-Don't-Ask" design.

[2019-03-07 19:58] yvgopal commented on #24
It can't be fixed. That is not how AMQP works.
A message received on a link (receiver), can be completed/abandoned/deadlettered on the same link(receiver).

[2019-03-07 20:11] yvgopal commented on #331
@marcioos I didn't make Utils.getDataFromMessageBody() public because it becomes useless when the SDK starts supporting multiple data sections and then I will remove it or change it. But I agree with you on the need for a simpler method. That's why I created the Utils for internal use. You can always wrap message.getMessageBody().getBinaryData().get(0) in a utility method and forget about this. Th

[2019-03-08 01:53] warrenzhu25 commented on #336
I still couldn't get your point. Let's suppose in my scenario `AutoComplete` is false, and inside `onMessageAsync`, some exception is thrown. Then service bus sdk should handle this exception in a robust way. If I neither abandon or complete this message, sdk shouldn't have any memory leak and this message supposed to reappear after defined timeout.

[2019-03-11 07:23] SerJey opened #344 "TimeoutException during completion of requests (v. 1.2.11)"
Hello,

We faced with some issue. It is similar to #312, but I'm not sure that there is the same root cause.

TimeoutException occures periodically during receiving of messages.
[code]

We use version **1.2.11**, but issue is reproducing in previous versions too.

Our config:
- 2 subscription clients
- 10 prefetch count
- 2 max concurrent calls
- PEEKLOCK receive mode.

The issue is more reproduci

[2019-03-12 18:01] yvgopal commented on #336
What you say is correct. If you keep receiving message without abandoning or completing messages, a receiver is going to leak memory. But I think it is an application error, and application will have to fix it. AMQP expects a link to keep a list of unsettled deliveries in memory. To fix this leak, I will have to impost some sort of hard limit on count or elapsed time or something else. But I will

[2019-03-12 18:04] yvgopal commented on #344
A timeout could be either a client side issue or service side issue. Could you identify any pattern when these timeouts occur? That will help me identify if it is a client issue or service issue. Try with a different namespace and see if you can reproduce it.

[2019-03-13 01:58] warrenzhu25 commented on #336
Thanks for your clear explanation. It seems abandoning message in my processing logic is right way at the moment. I think if it could be possible to auto abandon message when you encounter exception thrown from user's processing logic.

[2019-03-13 12:38] mrdfuse commented on #344
There is not a real pattern to see, we send health messages every few 30 seconds or so, sometimes we get this exception, seemingly randomly. This on a system with no other activity. We also see this happening on different namespaces, both Premium and Standard.

[2019-03-14 18:04] theangrydev commented on #219
I still see this issue when using `org.apache.qpid.jms.JmsConnectionFactory` in 0.40 of qpid-jms-client to talk to the service bus (not using service bus SDK, just a direct `amqps://` connection in the same manner as per the [JmsQueueQuickstart](https://github.com/Azure/azure-service-bus/blob/master/samples/Java/qpid-jms-client/JmsQueueQuickstart/src/main/java/com/microsoft/azure/servicebus/sample

[2019-03-14 18:47] yvgopal commented on #219
@theangrydev Azure service bus service closes idle links after some timeout. Azure SB java SDK reopens the links. Generic JMS clients may not. You should handle this case and recreate the sender or receiver.

[2019-03-14 19:05] theangrydev commented on #219
@yvgopal I see, thank you for the information. This is not great behaviour, I have not seen this before in similar services. I will have a look at solving the problem for generic JMS clients and possibly submit an example to the samples project.

[2019-03-14 22:49] yvgopal commented on #344
One possible indicator: If a timeout occurs and continues to occur, then it is likely a client side issue.
If a timeout occurs, but subsequent operations succed, it is likely a timeout from the service.
Now tell me what you think it is.

[2019-03-15 20:56] #338 closed

[2019-03-19 19:47] klam2010 commented on #84
Still having this issue,

I have a session based queue, however, the session based queue has no messages to retrieve, yet I continuously get a timeout ERROR every 2 minutes since there are no data to fetch.

I feel like the log levels misguiding, maybe should be warning.

[2019-03-20 14:24] sarintom commented on #84
I'm experiencing exactly the same issues with this. We're also using session enabled Service Bus queue. Tried with versions 2.0.0-PREVIEW-7, 1.2.12 and 1.2.10 but it's all the same. Even tried out the WebSocket transport type with connection string builder.

I've pinpointed this somewhat network dependant, since it's throwing the exceptions on our corporate network and in Azure Kubernetes cluster

[2019-03-21 19:08] #344 closed

[2019-03-26 08:32] NairRahulMohanan opened #348 "org.apache.qpid.proton.engine.HandlerException: org.apache.qpid.proton.ProtonUnsupportedOperationException while creating a new SubscriptionClient"
We recently upgraded the azure servicebus from 1.2.8 to 1.2.12. Since then we are not able to create a new SubscriptionClient Object.

`csb = new ConnectionStringBuilder(endpoint1, topicName+ "/subscriptions/"+subscriptionName, sasToken1);
subscriptionClient = new SubscriptionClient(csb, ReceiveMode.PEEKLOCK);`

## Actual Behavior
1. 2019-03-26 13:52:49.608  WARN 9136 --- [83-807ba88d95c0] c.m.a.s

[2019-03-26 16:32] romcil opened #349 "How to configure to use a proxy"
Error on deployment to weblogic,

<26-Mar-2019, 12:47:00,292 PM GMT> <Error> <Deployer> <BEA-149265> <Failure occurred in the execution of deployment request with ID "614284025715944" for task "1" on [partition-name: DOMAIN]. Error is: "weblogic.application.ModuleException: com.microsoft.azure.servicebus.primitives.ServiceBusException: Error{condition=proton:io, description='Connection timed out:

[2019-03-28 12:23] Endeg opened #350 "CoreMessageReceiver instances not garbage collected for session QueueClient"
## Actual Behavior
1. Session QueueClient created in application.
2. Memory is filling with new instances of com.microsoft.azure.servicebus.primitives.CoreMessageReceiver. In couple of days it can lead to 100k-200k and then to OOM. ~1-2 receivers created every 2 minutes (depends on number of created QueueClients).

## Expected Behavior
1. Session QueueClient created in application.
2. Instances of

[2019-04-02 01:28] yvgopal commented on #350
Could you answer these two questions?
1. Are there any sessions on the queue? Is onMessageAsync() is ever called?
2. Are the methods OnCloseSessionAsync() or notifyException() ever called?

[2019-04-02 01:54] nemakam commented on #349
@romcil - Take a look at https://github.com/Azure/azure-service-bus/tree/master/samples/Java/azure-servicebus/QueuesWithProxy

[2019-04-02 01:55] #349 closed

[2019-04-02 09:18] Endeg commented on #350
@yvgopal, I checked in the test app. The queue is empty all the time. None of message processing methods ever called. So it's "no" for both questions.

onMessageAsync()/OnCloseSessionAsync() is called only when messages put into queue. But it's not affecting CoreMessageReceiver growth.

Here some logs of the period where new portion of CoreMessageReceiver was created: https://gist.github.com/Endeg

[2019-04-02 11:53] satish8784 commented on #332
Version 1.8.0_191 seems to be expired as per Oracle website, any alternative solution to this?

[2019-04-02 23:04] ntherrien opened #351 "QueueClient stops receiving messages and shuts down"
**Focus on exceptions**
No exceptions are raised.

Program is operating normally for no more than 50 messages and then shows:

`18:24:48.355 [Finalizer] INFO com.microsoft.azure.servicebus.MessageAndSessionPump - Closing message and session pump on entity 'sip_out'
18:24:48.356 [Finalizer] INFO com.microsoft.azure.servicebus.MessageReceiver - Closing MessageReceiver to entity 'sip_out'
18:24:48.35

[2019-04-03 05:57] yvgopal commented on #332
@satish8784 Switch to Service Bus SDK version 1.2.9 or later.

[2019-04-03 14:56] ntherrien commented on #351
"onConnectionRemoteClose" in previous logs seems to be a clue.

I got an exception today while doing more tests.  Again it seems to be about remote link closed.

Exception Phase is "COMPLETE" which from the source code appears to be when an exception occurs during the completion of a message. In this case, it would be because of a remote connection closed.

`10:42:50.836 [pool-1-thread-4] DEBUG co

[2019-04-03 19:42] yvgopal commented on #351
Closing message and session pump on entity 'sip_out' - That trace is written only when your code is closing the QueueClient. Your code is calling QueueClient at some point. Please go and check it. Or write a sample console app and see what happens. I am closingthe ticket. Please reopen if you have more info.

This is standard functionality of the SDK and it is working for all customers. Even if Az

[2019-04-03 19:44] yvgopal commented on #348
Please check your classpath. SDK version 1.2.12 relies on ProtonJ-0.31.0. Your traces show proton-j-0.27.1.jar.

[2019-04-03 19:44] #348 closed

[2019-04-03 19:47] yvgopal commented on #333
I am still waiting for the logs. Is your issue gone now?

[2019-04-03 22:16] yvgopal commented on #350
I have just tested the scenario. There is no memory leak. CoreMessageReceiver objects are created and then garbage collected as they become unreachable. They become unreachable, as code doesn't hold reference to them. If you generate a heap dump and see, CoreMessageReceiverObjects are only in the finalizer queue. That's not a leak. Closing the ticket. Please reopen it if you can prove otherwise.

[2019-04-04 12:16] ntherrien commented on #351
Hi,

After reading your answer and testing further, I can confirm with 100% certainty that the program is not requesting the queueclient to close in any way.

I have done like you suggested and written a sample console app using only the 'sip_out' queue. When working with only that queue, I could not reproduce the problem. However, when I add a second 'sip_in' queue in the same program, problem st

[2019-04-04 12:17] ntherrien commented on #351
By the way, why did you close this issue. problem is not resolved?

I don't see a way of reopening it.

[2019-04-04 12:23] ntherrien opened #352 "QueueClient stops receiving messages and shuts down (Reopened)"
Issue #351 was closed prematurely. Please reopen #351.

I have written a dummy program as suggested.

New information:   problem occurs when having  receiving and sending QueueClients in same program.   problem does not occur when using only receiving QueueClient in program.

Program is fully sequential, no multithreading.

Program does not do anything with incoming messages and problem still occu

[2019-04-04 12:55] ntherrien commented on #351
Here's another log exerpt.   It shows how the 'sip_out' message receiver always shuts down after a message was sent to 'sip_in'.  Could be coincidence.

`sip request
wrapping
sending to queue 'sip_in'
181439 [pool-1-thread-1] DEBUG c.m.a.s.p.CoreMessageSender - Sending message to 'sip_in'
181440 [ReactorThread7e9bbbd2-c8c4-400d-ad84-8aa0a4159253] DEBUG c.m.a.s.p.CoreMessageSender - Processing pend

[2019-04-04 12:58] ntherrien commented on #351
Question: how would one listen to the "close" event so I can write code to reconnect???

[2019-04-04 15:05] spenc53 commented on #332
I have updated the version of our service bus sdk to 2.0.0 but am still having this issue

[2019-04-04 19:31] yvgopal commented on #352
Duplicate. Closing this as I reopend the original ticket.

[2019-04-04 19:31] #352 closed, assigned to nobody

[2019-04-04 19:34] yvgopal commented on #332
If you update to newer version of the SDK, then you will get a new jar of proton-j that is 0.31.0. Maven will automatically pull it for your development. Check your application's classpath.

[2019-04-04 19:37] yvgopal commented on #351
You don't have to listen for close event and reconnect.
Close is also called by finalize. Could you check if your queueclient instance is getting garbage collected for any reason?

[2019-04-05 06:51] Endeg commented on #350
@yvgopal

Alright, here's what I'm getting when running asb-test for a while, I'm using java 9.0.4+11 and VisualVM to monitor memory:

The application is running for ~20 hours. No messages is sent during that time, client just idly waiting. Also I'm doing force GC from VisualVM before taking screenshot.
**2019-04-04 17 02 - CoreMessageReceiver**
![2019-04-04 17 02 - CoreMessageReceiver](https://us

[2019-04-05 15:34] ntherrien commented on #351
Hi.  I don`t think the object is getting garbage collected. See for yourself in this console sample app:
`package test;

import com.microsoft.azure.servicebus.Message;
import com.microsoft.azure.servicebus.MessageHandlerOptions;
import com.microsoft.azure.servicebus.QueueClient;
import com.microsoft.azure.servicebus.ReceiveMode;
import com.microsoft.azure.servicebus.primitives.ConnectionStringBuil

[2019-04-05 15:35] ntherrien commented on #351
Here is the sip out message handler:
`package test;

import com.microsoft.azure.servicebus.*;
import gov.nist.javax.sip.message.SIPMessage;
import gov.nist.javax.sip.parser.StringMsgParser;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import java.text.ParseException;
import java.util.concurrent.CompletableFuture;

public class OutgoingMessagesApplicationCallback implements IMessageHan

[2019-04-05 15:36] ntherrien commented on #351
With the simplified sample code provided above, we can reproduce the problem.

Remove the sip_in queue and sip_out will have no issues.

[2019-04-05 15:37] ntherrien commented on #351
We also tried a different queue implementation and have no issues with the exact same backend code.

[2019-04-08 06:29] NairRahulMohanan commented on #348
Thanks. It worked!

There were two instances of proton being used. 0.27.1 was being used by another dependency. Updating that jar solved the issue

[2019-04-09 11:39] ntherrien commented on #351
Any update @yvgopal ?

[2019-04-09 21:50] yvgopal commented on #351
Pasting some fragments from the logs you posted..

Every time the QueueClient is closed by the Finalizer thread. That is the garbage collector, finalizing the QueueClient instance. Period.

Why is it getting finalized? I can't say. May be the System.exit() call you have in the notifyException() method of IMessageHandler. I have just found it. Why would you put System.exit() in a code path? Remove

[2019-04-11 22:31] ricardoseb opened #354 "Sending CBS Token to 'amqp://XXXX.servicebus.windows.net/XXXX' failed"
I have an application that started logging the exception below from com.microsoft.azure.servicebus.primitives.ServiceBusException. I don't know exactly what happened that caused the error.

com.microsoft.azure.servicebus.primitives.ServiceBusException: Error{condition=com.microsoft:auth-failed, description='ExpiredToken: The token is expired. Expiration time: '2019-04-11 21:12:56Z'', info=null}
	a

[2019-04-11 23:39] yvgopal commented on #354
Your auth token expired. That is what the exception message is showing, including the time when the token expired.
If your connection string has SASKey name and value, then the SDK creates a token for you. If the connection string has an already generated token, the SDK will just pass it along to the service. In you case, I guess you are using an already generated token. Get a new token.

[2019-04-11 23:39] #354 closed, assigned to yvgopal

[2019-04-13 14:18] ntherrien commented on #351
Hi @yvgopal ,

From one professional to another, let's be careful when saying "other customers are using it, so the problem must be you".    There's always a possibility that your customer's code may be problematic, but let's just keep an open mind here.

I am trying to provide you with as much facts as you need.

Fact 1: The program is not releasing its reference on the queue object
You already m

[2019-04-15 21:52] axisc commented on #310
closing this for now, please reopen if you still have an issue.

[2019-04-15 21:52] #310 closed

[2019-04-15 22:16] yvgopal commented on #307
Now I see the traces.
As you said, you simulated network outage at 19:19:24 and the trace showing that the connection was aborted is logged at 19:33:03. Ideally network outage should immediately trigger a "connection aborted" event. The SDK will recreate an aborted connection automatically. I have tested this.

In your case, the time lag between network outage and the generated "connection aborted

[2019-04-15 22:29] axisc commented on #351
@ntherrien Thanks for your continued support and trying out the library.

A couple of things to note here -
* Garbage collection in Java is painfully non-deterministic and is a function of system configuration and actual code written among other things. You have probably done more research on this than me.
* Inactivity by the client causes the connection to become idle, which the broker will disco

[2019-04-15 22:29] #351 closed, assigned to yvgopal

[2019-04-15 23:25] #304 closed

[2019-04-15 23:26] #293 closed

[2019-04-15 23:28] #53 closed

[2019-04-15 23:28] axisc commented on #58
closing since this has a dup

[2019-04-15 23:28] #58 closed

[2019-04-23 12:21] bobcx2 commented on #351
I had the very same issue due to my queueclient instance being garbage collected. I saw the same logs and it happened at random intervals. I know this issue has been closed but I thought confirmation of this would be helpful.

[2019-04-23 12:54] bobcx2 commented on #351
I meant to say, @ntherrien , if you move your QueueClient variables out of the main method and into instance variables in the code you included at: https://github.com/Azure/azure-service-bus-java/issues/351#issuecomment-480320849 . Do you still see the issue?

[2019-04-23 19:16] #350 closed, assigned to yvgopal

[2019-04-25 01:45] ntherrien commented on #351
@bobcx2, just in case our team may have missed something, I did what you suggested. No change, bug still occurs under high load.

The behavior is consistent with the fact that all references to the variables remain valid until the main method exits (scoped variables are valid until the scope ends).    If you debug the main function, you'll see there is a loop with a sleep that prevents the main me

[2019-04-26 14:25] bobcx2 commented on #351
That's interesting @ntherrien .

I agree that it seems like the MessageAndSessionPump could be destroyed for a reason other than the QueueClient being cleaned up.

To tell if this is the issue, can you add a log line at the top of your while loop and see if the loop is still running after the finalizer log line shows up? That should tell you if the loop is still running and therefore if your Queue

[2019-05-07 14:00] lawrencegripper opened #360 "Builds for Master are failing"
The builds for master and dev are failing, this looks to related to one of the tests failing.

https://ci.appveyor.com/project/vinaysurya/azure-service-bus-java/branch/master

[code]

[2019-05-10 13:47] davidepedone opened #362 "MessageSender with transaction"
I'm trying to send message to topic in a transaction. Here the relevant code:

[code]
## Actual Behavior
message is never sent to service bus, here the trace log
[code]

Send message without transaction `messageSender.send(message);` works fine and message is properly delivered to service bus.

What's wrong in my code?

## Versions
- OS platform and version: MacOs 10.14.4
- Maven package version o

[2019-05-14 23:25] yvgopal commented on #362
The same code should work. That is running in our tests.
This is the error I see in your traces.
"linkName:Sender_37b2eb_1714283e2a9f4e23b3b66ac26e141d58_G16, ErrorCondition:amqp:transaction:unknown-id, Transaction hasn't been declared yet, or has already been discharged"

Your send is being called with an invalid transaction context. Are you using the exact code you pasted here? The logs show me

[2019-05-14 23:25] #362 closed, assigned to yvgopal

[2019-05-16 23:47] xurui203 commented on #121
#please-close

[2019-05-16 23:47] xurui203 commented on #135
#please-close

[2019-05-17 00:02] xurui203 commented on #111
Thanks Sean, that's a great suggestion. @yvgopal could we do that and close this issue?

#please-close

[2019-05-17 00:05] xurui203 commented on #73
#please-close

[2019-05-17 00:06] xurui203 commented on #74
#please-close

[2019-05-17 18:35] #34 closed

[2019-05-17 18:36] #61 closed

[2019-05-17 18:36] #73 closed

[2019-05-17 18:36] #111 closed

[2019-05-17 21:19] axisc commented on #284
closing since this is a pending question - please reopen if this is still a problem.

[2019-05-17 21:19] #284 closed

[2019-05-24 12:26] bobcx2 commented on #350
Hi, I believe I am seeing this issue in version 2.0.0.

Will this fix be included in v2? If not, what is the impact of me changing from 2.0.0 to 1.2.13? Thanks

[2019-05-28 07:34] qwazer commented on #61
@axisc HI. What the reason to close?

[2019-05-28 14:16] NairRahulMohanan opened #365 "Too many ReactorThread instances in the thread dump."
We have two subscription clients receiving messages with an interval of 30 seconds. At times, we stop receiving messages for some reason, and the we have to stop both subscription clients and reconnect them to continue receiving messages. But we can see that with each successive stop and reconnect, the total thread count of the application increases and so is the CPU usage. There are no exceptions

[2019-05-29 13:03] NairRahulMohanan commented on #365
Please also note that we are passing an executorService while registering a messageHandler on the subscriptionClient and then calling executorService.shutdown() after the subscriptionClient.close().

[2019-05-29 21:27] yvgopal commented on #365
If you are creating a subscriptionclient by calling its constructor, then it internally creates a MessagingFactory for that subscriptionclient.
1 SubscripionClient = 1 MessagingFactory = 1 Reactor

When you close the subscriptionclient, it will close the messaging factory. When messagingfactory is closed, the reactor gracefully exits.

Then answer to your question : YES. Closing subscription clien

[2019-05-30 05:40] NairRahulMohanan commented on #365
@yvgopal Yes. We do get a timeout exception while calling close. We sleep for a predefined interval and try closing again when this happens.

We have a .dbg file that logs the application activity and a separate log file that writes the console logs. Since, servicebus java api seems to output a lot of logs, the client has set it to debugging level ERROR and the .dbg file is set to write all levels

[2019-05-30 07:17] NairRahulMohanan commented on #365
[Prod_thread_dump_20190530.log](https://github.com/Azure/azure-service-bus-java/files/3235858/Prod_thread_dump_20190530.log)

As requested please find the thread dump.

[2019-05-30 19:46] yvgopal opened #366 "Issues with closing an entity object"
Two sub issues here.
1. If closeAsync or close throws an exception, it still leaves the object in closing state. If we call close again, it will not do anything as object is already in closing state.
2. When a SubscriptionClient like object is being closed, it will close multiple internal objects one after the other. A failure or exception in closing one of those internal objects will not close su

[2019-05-30 19:52] yvgopal commented on #365
Ok. The thread dump shows 250 different reactor threads. That means ReactorThread is not gracefully exiting.
The root cause is that subscriptionclient close is failing. When you close a subscription client, we close the receive link first, then other links and then the reactor in that order. If one step fails, later steps are not executed. That's why reactor thread keeps running.

Calling close ag

[2019-05-31 10:13] NairRahulMohanan commented on #366
Thanks @yvgopal . I have asked our clients to check on the timeout issues. Would you be able to provide a timeline for the 1.2.14 release I could quote to the client?

[2019-05-31 10:39] NairRahulMohanan commented on #365
Thanks @yvgopal . We have let our client know and asked them to check the network issues. Still could you please let us know what timeline to expect for a fix to be in place?

[2019-05-31 19:57] yvgopal commented on #350
@bobcx2 This SDK work is currently transitioning between teams, here at Microsoft. I can't just decide to release 2.0.1 anytime I want anymore. But I still have some control over 1.2.xx releases. If you don't want to wait for 2.0.1, could you just take the latest sources and build a jar file for yourself? mnv clean package -DskipTests will build the jar for you.

[2019-06-04 12:35] clacmago opened #367 "Wrong logging level reported in application:"
**Focus on exceptions**
If your first sample is not running as expected or you notice some WARNING or ERROR traces in the console, it is likely to do with your configuration, not a bug. Focus on the exception thrown to your code, not on the traces alone. Go through our samples, read the API documentation before filing an issue.

**Describe the bug**
A clear and concise description of what the bug

[2019-06-04 12:37] #367 closed, assigned to nobody

[2019-06-04 13:01] clacmago opened #368 "Wrong logging level using the servicebus"
**Describe the bug**
We have discovered that azure servicebus is writing a large number of error entries to our application logs, since we are permanently sending and receiving from azure.

We examined a number of these entries and we believe they should be categorised as INFO level logging rather than ERROR level logging.

**Expected behavior**
We expected the INFO logging to be reported as such

[2019-06-13 08:22] clacmago opened #369 "Logging level set on "Error" for Info logs"
We have discovered that azure servicebus is writing a large number of error entries to our application logs, since we are permanently sending and receiving from azure.
We examined a number of these entries and we believe they should be categorized as INFO level logging rather than ERROR level logging.

**Observed behavior**

Log Viewer:
![Bildschirmfoto 2019-06-04 um 14 48 25](https://user-images.

[2019-06-13 20:37] marcioos commented on #280
I think it shouldn't be a WARN level log if it doesn't represent any issue or actionable fact. In our application logs it ended up just adding noise, making it harder to spot actual problems. We ended up turning off WARN level logs coming from the SDK.

[2019-06-15 14:32] sw54321 commented on #187
I have encountered the same problem here.

Can you please provide how you return a future here?

Thanks.

[2019-06-17 09:29] clacmago commented on #368
Binding with the appropriate logging framework using slf4j-log4j12-1.7.26.jar was the solution. The former Binding with slf4j-simple-1.7.26.jar produced the system.err logs for our case.

[2019-06-17 09:29] #368 closed, assigned to nobody

[2019-06-17 09:30] #369 closed, assigned to nobody

[2019-06-17 21:47] yvgopal commented on #187
A future should represent what action you would like to take before a session is closed. If you don't have anything to do, just return a CompletableFuture.completedFuture().

[2019-06-18 20:50] sw54321 commented on #187
Thanks for the reply. I figured this out yesterday and used the CompletableFuture.completedFuture(null).

[2019-06-21 08:39] NairRahulMohanan commented on #366
@yvgopal Is this issue resolved? We can see version 1.2.14 is available in maven, but the issue is still open here?

[2019-06-21 16:15] abhikt48 opened #370 "IMessageReceiver.receive() - message not dequeuing from queue"
I am using "IMessageReceiver.receive()" to receive message but message is not dequeuing from queue after receiving. I checked the the message delivery count also on explorer, but delivery count is not getting increased as well.
Please find below sample code and let me know if i  am missing anything.

**Sample Code**
`ConnectionStringBuilder connectionStringBuilder = new ConnectionStringBuilder(Con

[2019-06-21 21:41] yvgopal commented on #366
No. It is not resolved yet. Your client's issue will not go away unless they identify why close is failing.

[2019-06-25 06:34] ezl-seb opened #372 "High CPU on receiver.receive()"
**Describe the bug**
When following the examples to receive messages, a simple example will result in using high CPU even with no messages in queue.

**To Reproduce**
This is my code to reproduce (in Kotlin):
[code]

**Expected behavior**
Expect to use very low CPU when no messages received.

**Observed behavior**
CPU is around 15-25% on our Azure A4 Standard 8 Core 14GB VM.

![sb_high_cpu](https:

[2019-06-25 11:50] aupadhye opened #374 "Session handler message processing halts after ServiceBusException: Error{condition=null, description='null', info=null}"
## Actual Behavior
I have topic/subscription with sessions enabled and ISessionHandler implementation registered to receive messages.
There are following problems,
1. Upon start of Listener it takes long time to start receiving messages. 30 to 60 seconds, variable at different times. But this is less of a issue if it happens only at startup.
2. Sessions get closed after lapse of messageWaitDuratio

[2019-06-25 12:27] abhikt48 commented on #370
Hi Team,

Could you please update us on this issue?

Regards,
Abhishek Kumar

[2019-07-01 05:22] aupadhye commented on #374
I tried by using latest versions of azure-servicebus dependencies,
org.apache.qpid » proton-j  0.33.1
com.microsoft.azure » qpid-proton-j-extensions  1.2.0
org.asynchttpclient » async-http-client  2.10.1
but experienced the same problem.

[2019-07-03 20:10] axisc commented on #374
@aupadhye Thanks for reporting this issue and sharing the repro.

We are investigating with the team internally and will update this thread.

[2019-07-08 09:28] ezl-seb commented on #372
no response?
we are a big cooperate Azure client and if this issue and similar issues are not addressed, we may need to move off Service Bus / Azure.

[2019-07-10 00:31] yvgopal commented on #372
Just assigned it to myself. Will investigated and update you.

[2019-07-10 00:36] yvgopal commented on #370
Isn't it the expected behavior? You are receiving a message in PEEKLOCK mode and not completing it. In PEEKLOCK mode, received message is only locked. It is removed from the queue only after it is completed. If you don't complete the received message, it will timeout after the LockDuration property of your queue, and its delivery count incremented and will be made available to another queue.

If y

[2019-07-10 00:36] #370 closed, assigned to yvgopal

[2019-07-10 00:36] #360 closed, assigned to yvgopal

[2019-07-10 05:22] lawrencegripper commented on #360
How come this is closed? The project `README` shows the builds as failing for `master` and `dev` branch.

![failures](https://user-images.githubusercontent.com/1939288/60942496-bda83b00-a2da-11e9-8f15-d8c5000c5358.png)

If this is expected then probably best to remove the build badges from the project as it gives the impression that something is broken or wrong with the SDK.

I mention as a custom

[2019-07-10 10:38] abhikt48 commented on #370
As i am receiving this message with PEEKLOCK mode, so message should remove only after completing the message.

PROBLEM - There is no option to complete message, so message will never be removed.

IMessage iMessage = receiver.receive();  --> IMessage  doesn't have option to complete the message.

Could you please open this issue again and provide us a way to complete the message.

[2019-07-10 14:40] abhikt48 commented on #370
Please keep this ticket closed, as i got the option to complete the message. Thanks for your input.

receiver.complete(iMessage.getLockToken());

[2019-07-10 22:20] yvgopal commented on #360
Both master and dev have moved to https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/servicebus. That is for 2.0.0 and later versions. This repo is only for bug fixes on top of 1.2.14 and later, and only branch that matters is master1.0.

[2019-07-11 15:16] lawrencegripper commented on #360
Oh it wasn't obvious to me coming to this repository that this wasn't the latest version of the code in the maven package which it links to on the `README`. The builds are also showing as failing on the newer repository you mentioned, should I raise an issue on that repo?

As this is an old out-dated version which is only used for servicing and isn't the source for the maven package linked to in t

[2019-07-11 19:29] yvgopal commented on #374
Is your entity a partitioned entity? Could you try with a non-partitioned entity?
I am guessing that will explain the delay in accepting a session.
What is the LockDuration on your entity?

Also what is your servicebus namespace where you observed this behavior? That will help me look at the service side logs.

[2019-07-13 02:33] aupadhye commented on #374
Entity is not partitioned.
Lock duration is 1 min but we tried different values up to 5 min.
Interop-Premium-PerfTest - Topics
Service bus namespace is Interop-Premium-PerfTest

[2019-07-17 01:55] yvgopal commented on #372
I ran the sample program for one hour on my computer. CPU didn't exceed 2% even once.
Attaching the program here.
[ReceiverIdleCPUUsageTest.txt](https://github.com/Azure/azure-service-bus-java/files/3399748/ReceiverIdleCPUUsageTest.txt)
I don't see a reason why CPU usage touches 15-20% in your case. Are you sure that was an empty queue? Could you try with the sample I have attached here? I am clos

[2019-07-17 01:55] #372 closed, assigned to yvgopal

[2019-07-17 03:16] yvgopal commented on #374
Since you have an official support ticket, I am closing this issue here. I will respond to the support ticket.

[2019-07-17 03:16] #374 closed, assigned to yvgopal

[2019-07-17 10:03] ghost opened #375 "Veracode (CWE ID 611)"
## Actual Behavior
Veracode Scan failed, reason: Improper Restriction of XML External Entity (CWE ID 611)

Azure DevOps pipeline task: Veracode Upload and Scan

References:
CWE (https://cwe.mitre.org/data/definitions/611.html)
OWASP (https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/XML_External_Entity_Prevention_Cheat_Sheet.md)
WASC (https://webappsec.pbworks.com/XML-External-Enti

[2019-07-17 22:53] yvgopal commented on #375
Branch containing this code moved to the repo [https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/servicebus](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/servicebus). Please raise this issue on the new repository.

[2019-07-17 22:53] #375 closed, assigned to yvgopal

[2019-07-22 06:47] ChristianSchenk711 opened #377 "Hostname verification fails behind a corporate proxy"
## Actual Behavior
- I'm using the library in version 2.0.0 behind a company proxy.
- I'm getting a hostname verification exception: the exception is just a "GeneralSSLProblem" but when I debug into it I can see that the client expects the server to have the name of the proxy, which leads to a hostname verification problem.
- I can use the switch `-Dcom.microsoft.azure.servicebus.ssl.verifymode=ve

[2019-07-25 18:22] yvgopal commented on #377
master1.0 corresponds to versions1.2.x. That is the only branch maintained in this repo.
dev and master branches moved to the new repo at [https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/servicebus](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/servicebus). They correspond to the version 2.x.x.

messagingFactory.getHostName() and connectionHandler.getOutboundSocketHostNam

[2019-07-25 18:22] #377 closed, assigned to yvgopal

[2019-07-26 05:17] ChristianSchenk711 commented on #377
Yes, we are using version 2.0.0 with AMQP enabled. I didn't realize that this version is maintained somewhere else. Will check there. Thanks

[2019-07-26 07:57] Maalai opened #378 "Queue Listener throws Timeout exception while trying to create a Recieve link with a Queue"
## Actual Behavior
1. I am trying to listen messages from a Service Bus Queue which has Session maintenance enabled.
2. After starting the listener I get the below message while the listener is trying to open a ReceiveLink with the Queue..

[code]

3. Also, we could see this error with both 'WARN' and 'ERROR' log levels.

## Expected Behavior
1. It should not throw timeout error since the connecti

[2019-07-29 18:07] yvgopal commented on #378
Opening a receive link on a session enabled queue means accepting a session. This timeout means there are no sessions available in the queue. A session become available in the queue only if queue has at least one message with a session id.

So the timeout exception is the expected behavior.
Both WARN and ERROR are probably coming because 2 different classes may be logging at different levels, whic

[2019-07-29 18:07] #378 closed, assigned to nobody

[2019-07-30 05:21] Maalai commented on #378
@yvgopal Thanks for the clarification.. So, does this mean this log will continue to flow if there are no messages in the queue and the scheduler polls for messages every minute?

[2019-07-30 21:28] yvgopal commented on #378
Yes.
If your queue is empty most of the time, increase the polling interval. Or increase the timeout on messaging factory, or increase the timeout via connection string builder.

[2019-08-02 15:05] martinpaoloni commented on #333
Hi! I am experiencing the same issue. I get the same error log when I try to send messages and I experience (or simulate) a network outage. Unfortunately, that message is lost and is never sent.

I even tried making a copy of the class `RetryExponential`, modifying it to enable retries on `TimeoutException` and used that as the `RetryPolicy` but that did not work unfortunately.

Please let me know

[2019-08-06 19:29] yvgopal commented on #333
@martinpaoloni It has been a very old issue. We fixed this issue of not recovering from a network outage sometime back. Could you try with the latest SDK version, either 1.2.x latest or 2.0.0.
RetryPolicy doesn't retry Timeout exceptions by default. Timeout is likely not a retriable exception.
A timeout indicates the messages is either sent or not sent. A message is guaranteed to be sent only when

[2019-08-27 15:32] eminkucuk commented on #291
@yvgopal

Currently we are using version 1.2.15 of sdk and facing same issue.
We have seen following log in our application. and please have a look log level is WARN and ERROR.
I suggest to re-open issue.

2019-08-27 18:21:26.419 [**WARN** ] [                                ] [d588350] [   c.m.a.servicebus.primitives.RequestResponseLink]: Internal receive link 'RequestResponseLink-Receiver_b80af3_

[2019-08-27 15:35] eminkucuk commented on #243
@yvgopal

Currently we are using version 1.2.15 of sdk and facing same issue.
We have seen following log in our application. and please have a look log levels. WARN and ERROR.

2019-08-27 18:21:26.419 [**WARN** ] [ ] [d588350] [ c.m.a.servicebus.primitives.RequestResponseLink]: Internal receive link 'RequestResponseLink-Receiver_b80af3_90bf5ce8db06455793738efe1faa1855_G46' of requestresponselink t

[2019-08-29 16:29] sachingangs opened #379 "Connection to Azure Service Bus is getting closed in 10minutes of inactivity"
I am using BusinessWorks flow to post data to AZURE service bus over the queue. Due to inactivity between sequence of events, connection to service bus is getting closed in 10minutes of inactivity. Is there any way to keep connection alive life time?
Please suggest.

I am using Java SDK jar to connect and post payload over azure service bus queue.
ERROR:

After the expiry of the idle time , these

[2019-09-03 12:48] spylightadmin opened #380 "log4j properties file exists in root jar"
## Actual Behavior
1. Log4j.properties file in root of jar file

## Expected Behavior
1. This file should not exist, this breaks existing log4j configuration in existing project depending on azuser-servicebus jar

## Versions
- Maven package version or commit ID: azure-servicebus-3.0.0 (since v2)

[2019-09-05 18:54] yvgopal commented on #380
Please log future issues at [https://github.com/Azure/azure-sdk-for-java](https://github.com/Azure/azure-sdk-for-java)

That is the new repo for the SDK versions 2.0.0 and later.

[2019-09-05 18:58] yvgopal commented on #379
No. There is no inbuilt way to keep that connection open.
You can either recreate the connection once it is closed or fire a receive call or something every few minutes.

[2019-09-05 18:58] #379 closed, assigned to yvgopal

[2019-09-05 19:01] yvgopal commented on #291
Idle connection getting closed is not an error. It will automatically reconnect, when you try to send or receive a message. It is a bug only if it is not automatically reconnecting. This is not a bug.
FYI.. We are changing every log statement to INFO. We have had too many issues raised by customers because they found a WARN or ERROR in the traces.

[2019-09-16 12:40] nwideaimplshagho opened #381 "Frquent timeout exception from Service Bus cauing App Server to use 80% of CPU"
**Actual Exception** -
019-09-16 09:07:26,443 WARN [ReactorThread1629859c-f6e6-41de-970a-0eab93ae4c66] com.microsoft.azure.servicebus.primitives.CoreMessageReceiver Receive link 'Receiver_bb719c_95bc6b3acfd845b0b886eae4309c03cf_G20' to 'IOP-OB-CdeTestOrg1/Subscriptions/IOP', sessionId 'null' closed with error.
com.microsoft.azure.servicebus.primitives.TimeoutException: The operation did not comple

[2019-09-18 06:24] aupadhye commented on #381
Hi @yvgopal,
Could you please help us with this issue? It looks like azure service bus library is taking all the CPU even with no messages on service bus. It takes about 1 hour to build up high CPU usage.

To give you more details on application process following is the profiling details of the application,
![App Profiler Snapshot](https://user-images.githubusercontent.com/17729508/65120308-0d0d94

[2019-09-18 10:53] gennadiy-dubina commented on #219
we have the same issue with jms + qpid approach
@tobiasgwaaler @theangrydev have you found any useful solution?

[2019-09-18 11:47] theangrydev commented on #219
@gennadiy-dubina as @yvgopal pointed out, the Azure SB Java SDK reopens the links but generic JMS clients do not necessarily handle this well if at all.

So your options are:

1. Use Azure SB Java SDK
2. Write some custom code around the JMS classes that watches for this issue and reopens the connection. I was going to do some work around this but I did not get round to it unfortunately.

[2019-09-18 12:17] gennadiy-dubina commented on #219
@theangrydev thank you for response,
i have found one more way - use Spring cloud stream: https://spring.io/projects/spring-cloud-stream

Azure provides binder for it.
https://github.com/microsoft/spring-cloud-azure/tree/master/spring-integration-azure/spring-integration-servicebus

so i'm going to verify this option

[2019-09-23 15:27] frvi commented on #381
@nwideaimplshagho, when did you start experiencing this increased amount of exceptions? We're noticing the same, new, behaviour.

However, we're using *queues*, not topics, and sdk `1.2.15`. In both `Europe West` and `Europe North`.

[2019-09-24 05:50] aupadhye commented on #381
To give you more information on this case we tried it in following cases,

With 9 service bus subscriptions connections (with no message processing)
-	On Azure VM
o	With latest service bus library 3.0.0
o	With latest service bus library 3.0.0 with all latest versions of it’s dependencies
o	With old service bus library 1.2.15
All of above produced same result, several timeout exceptions (almost con

[2019-09-24 05:56] aupadhye commented on #381
We started seeing this issue from 12th September. Only for session enabled subscriptions/queues. Our location is East-US.

[2019-09-24 06:25] frvi commented on #381
13th September here, around 02 AM, UTC+1, West-EU.

[2019-09-26 22:17] KrishCR97 opened #383 "Service Bus Throwing Timeout , Message Lock Lost And Illegal Argument Exception"
## Actual Behavior
App Server was able to read the messages from the topic but when acknowledging to the server that it has successfully processed then service bus throws the following exceptions :
1. com.microsoft.azure.servicebus.primitives.TimeoutException
Stack Trace : com.microsoft.azure.servicebus.primitives.TimeoutException:
   at com.microsoft.azure.servicebus.primitives.CoreMessageReceive

[2019-10-01 02:08] sanppatil commented on #381
Can someone please update us as well. We are also experiencing this issue. Our App Services are using significant CPU recently. As described in above comments, We also have session based implementations.  We are using 1.2.11 SDK which was pretty stable but lately observing high CPU usages.

[2019-10-01 14:34] MacL3an commented on #381
We are also still experiencing this problem. Here is an excerpt from an e-mail to Azure support.

The problem is that the CPU-load on our Java-process goes up to 100% after about 7 hours of uptime. The problem started around Friday the 13th, a period of time where we did not deploy any new code or make any other changes to our system afaik, and since then, we’ve had to restart our production envir

[2019-10-01 18:29] yvgopal commented on #380
Resolved in version 3.1.0. Not much has changed from 2.0.0 to 3.0.0, and you shouldn't see any difference.

[2019-10-01 18:29] #380 closed, assigned to yvgopal

[2019-10-02 00:14] yvgopal commented on #381
Timeouts are expected in the traces. When client tries to accept a session, but there are no sessions in the queue or subscription, it results in a timeout exception, and that is logged in the traces.
High CPU is caused by a bug and it is fixed in version 1.2.16 and 3.1.0. If you are on 1.2.x, upgrade to 1.2.16. If you are on 2.x or 3.0.0, upgrade to 3.1.0.

[2019-10-02 00:14] #381 closed, assigned to yvgopal

[2019-10-02 21:52] yvgopal commented on #383
Just pasting exception stack traces don't help. We need your use case and the sample application code and when and how you are hitting exceptions.

[2019-10-03 09:16] MacL3an commented on #381
Thanks @yvgopal, version 1.2.16 did indeed solve the problems with high CPU-load. However we still have the problem with timeout exceptions. You mentioned that this is to be expected, however, when I look in our logs, we did not see these exceptions before and they started appearing the same time as the CPU-load problem started (around 12-13th of September, see image below)
![image](https://user-i

[2019-10-03 21:06] yvgopal commented on #381
@MacL3an As I said, a timeout occurs only when client tries to accept a session and there is no session available on the service. You didn't see them earlier means either 1. You were not using sessions before or 2. You increased the max concurrent sessions count in the session handler options recently or 3. You started using less number of sessions with your application.
Timeouts are expected in t

[2019-10-03 21:16] MacL3an commented on #381
Thanks for the thorough reply @yvgopal. The thing is, we did not deploy any new code or do any changes to our application when this problem started (and we have been running for months without any exceptions).Also, the exceptions started at the exact same time as the CPU issue appeared (as shown in the graph above), which makes me believe they are somehow related. Do we know why the CPU-issue sudd

[2019-10-09 10:37] aupadhye opened #384 "Security vulnerability in version 3.1.1"
## Actual Behavior
Security scan of version 3.1.1 found following vulnerability,
https://nvd.nist.gov/vuln/detail/CVE-2018-20200

## Versions
		<dependency>
			<groupId>com.microsoft.azure</groupId>
			<artifactId>azure-servicebus</artifactId>
			<version>3.1.1</version>
		</dependency>

Could you please provide a fix?

[2019-10-10 00:52] yvgopal commented on #384
The vulnerability is disputed. And on my machine, it is resolving to okHttp4.1.0 where as the disputed vulnerability is for okHttp versions between 3.0.0 and 3.1.2.
And the SDK doesn't directly take a dependency on the okHttp library. It is an indirect dependency and will likely be resolved automatically when the direct dependency updates to a newer version of okHttp.

[2019-10-10 00:52] #384 closed, assigned to yvgopal

[2019-10-10 08:22] MacL3an commented on #381
@yvgopal can we expect any updates on this or do you regard this issue as closed?
Like I said, these exceptions started appearing at the same time as the CPU-issue without us changing anything, which indicates to me that something changed on your end? The behaviour you describe (with exceptions when the client tries to accept a session and no sessions are available), is that new since the 12th of

[2019-10-10 09:23] aupadhye commented on #384
@yvgopal how is it resolving to okhttp 4.1.0 on your side? I see it as 3.11.0,
![Okhttp_dependency](https://user-images.githubusercontent.com/17729508/66556368-b577ca00-eb6d-11e9-9560-06e36853f260.png)

[2019-10-10 16:41] Sanitys commented on #383
Hello @yvgopal the customer updated their original post here and did not post a reply. So I am mentioning you here.

[2019-10-11 19:05] yvgopal commented on #381
CPU issue is in a way a result of too many timeouts. Here is the sequnce..
1. An object is created and wait for a session.
2. Session is not available, so the wait times out.
3. The object is discarded. A bug here leaks a repeat timer.
As these 3 steps repeat, lot of repeat timers leak and every time they run, CPU spikes. As they run too frequently, CPU usage stays elevated. That's why you don't s

[2019-10-11 22:23] yvgopal commented on #383
How often do you see these exceptions? If you rarely see them, it is likely errors coming from the service when updates are being applied on the service. But it doesn't happen every day or every week.

Otherwise, MessageLockLostException means you received a message and didn't complete it until its lock expired. What is the LockDuration property on your queue or subscription? Try increasing the Lo

[2019-10-11 23:23] yvgopal commented on #384
Created an issue on the SDK branch.
https://github.com/Azure/azure-sdk-for-java/issues/5801

[2019-10-14 14:47] aupadhye opened #385 "High level vulnerability in ServiceBus 3.1.1"
## Actual Behavior
Azure Service Bus SDK version 3.1.1 dependency async-http-client version 2.5.2 has a security vulnerability.

SRCCLR-SID-21682
XML External Entity (XXE): async-http-client is vulnerable to XML external entity attacks. The external DTD support in the Webdav module is not disabled, allowing attackers to access and retrieve system files, submit requests on behalf of the server, or

[2019-10-17 12:47] sajankhandelwal opened #386 "Getting error - "Connection reset by peer""
We have a listener app in Java which reads messages from a service bus topic and every once in a while we get this error, although the connection is re-established again later.

"logger":"com.microsoft.azure.servicebus.primitives.MessagingFactory", "msg":Connection error. 'Error{condition=proton:io, description='Connection reset by peer', info=null}'

Can someone please shed some light on this?

[2019-10-23 19:25] KrishCR97 commented on #383
@yvgopal We see the exceptions mentioned above more frequently. As of now timeout is about 1 minute. Our app take around 1 - 2 sec to process a message.

[2019-10-23 19:31] yvgopal commented on #383
It is almost always a service side issue. If it persists, please raise a support ticket.

[2019-10-24 13:36] jcbrooks92 commented on #383
@yvgopal  we are working with @KrishCR97 via a support case now.

[2019-10-24 13:55] MacL3an commented on #381
Hi @yvgopal,

I have now spent some more time looking into this and created a small demo application which you can find here: https://github.com/MacL3an/AzureServiceBusDemo.

Currently we get exceptions after 60s by just creating a new `QueueClient`, but not registering any listeners/handlers. If I then call `queueClient.registerSessionHandler(...)`, we instead get TimeOutExceptions every 30s.

Ha

[2019-10-25 20:11] yvgopal commented on #381
@MacL3an When you say "I get exceptions", you are actually referring to the exceptions traced, not thrown to your application. Your QueueClient is still there and works just fine even after those exceptions occurred. Timeout is a reality when waiting for messages or sessions. Whether you want to throw an exception or do something else is up to the opinion of individuals. The SDK throws timeout exc

[2019-10-25 23:22] nemakam commented on #385
Fixed in https://github.com/Azure/azure-sdk-for-java/issues/5956

[2019-10-25 23:22] #385 closed, assigned to nemakam

[2019-10-28 08:41] MacL3an commented on #381
Thanks for the thorough reply @yvgopal.

I realise they are not thrown to our application, but in Azure they are still picked up as Failures/Exception and reported together with other more serious errors.

But logging these exception as INFO seems like a great solution, thank you! I didn't find any release notes for the 3.1.1 version on GitHub. Can I find them anywhere else? Would be nice to know

[2019-10-28 20:59] yvgopal commented on #381
Release notes are kind of scattered, in many places. We released 2.0 with support for transactions. And 3.0 with support for Active Directory authentication. Your application should work just fine.
But recompile your application with the new version SDK once to see if there are any compile time errors. There were at least two breaking changes, one to correct a spelling mistake in method name and a

[2019-11-04 15:49] ezienecker commented on #219
@gennadiy-dubina any progress on your research?

[2019-11-04 16:23] gennadiy-dubina commented on #219
@ezienecker it works for us

[2019-11-12 13:30] LucasReehorst opened #390 "Dependency convergence issues (retrofit & okhttp)"
## Actual Behavior
1. azure-servicebus (3.1.2) depends on different versions of retrofit (2.5.0, 2.4.0) and okhttp (3.12.0, 3.12.2)
See this report provided by the maven-dependency-plugin (analyze-only goal):
Dependency convergence error for com.squareup.retrofit2:retrofit:2.5.0 paths to dependency are:
  +-com.microsoft.azure:azure-servicebus:3.1.2
    +-com.microsoft.azure:azure-client-authentic

[2019-11-12 19:47] yvgopal commented on #390
Logged it as it is at https://github.com/Azure/autorest-clientruntime-for-java/issues/644
Please check this issue for updates.

[2019-11-12 19:47] #390 closed, assigned to yvgopal

[2019-11-14 06:42] ganeshpft opened #391 "IMessageReceiver.receiveBatch(int maxMessageCount, Duration serverWaitTime) Issue"
## Actual Behavior
1. receiveBatch API is receiving messages less than the given max count even though messages available in the bus and Active Message count reduced to the provided max count instead of received message count.

## Expected Behavior
1. receiveBatch API should receive messages from the service bus and Active Message count should reduced by the received message count.

##Steps To Pro

[2019-11-14 08:56] suti211 opened #392 "Proxy usage of ManagementClient class"
My question is the following:
The company I work at, uses corporate proxies. I'm working on SpringBoot microservices in Azure.
To be able to run these services locally, we need to specify our HTTP and HTTPS proxies in VM options, and everything is fine, well except in case of the ManagementClient. ManagementClient seems not to pick up these proxy settings, and all of the requests sent by it, are t

[2019-11-19 01:09] yvgopal commented on #391
The API receiveBatch() says that it will receive upto the batch size of messages, not exact batch size of messages. We don't have any API that fetches exactly batch size of messages.

[2019-11-19 01:11] yvgopal commented on #386
It is likely your network, or something between you client and azure service bus service that is killing the connection. I don't know what is doing it. You should find out.
But client should automatically reconnect.

[2019-11-19 01:11] #386 closed, assigned to yvgopal

[2019-11-19 01:11] nemakam commented on #392
@suti211, As you have already mentioned, this hasn't been integrated with Proxy and hasn't been tested. We will add it to our backlog items and plan accordingly. Thanks for opening this issue.
Meanwhile, feel free to open a PR.

[2019-11-19 04:59] ganeshpft commented on #391
The actual issue here is loss of messages.  Active Message count reduced by given batch size instead of received message count.

[2019-11-19 19:41] yvgopal commented on #391
RECEIVEANDDELETE mode might lose messages, but only in cases of network errors. It shouldn't lose almost 100 messages as in your case.
Can you reproduce the same thing using regular AMQP transport? non websockets?
Is the entity partitioned? How did you send messages websockets or something else? Are any messages larger than 4 KB? For partitioned entities, receiving messages larger than 4 KB wouldn

[2019-11-20 08:21] ganeshpft commented on #391
Partitioning is false.
Messages posted using TransportType.AMQP_WEB_SOCKETS and all posted messages are less than 4KB only. (4KB issue we already aware.)

Will execute the same test case with TransportType.AMQP then publish the results once again.

[2019-11-26 08:00] dhwajverma commented on #349
@nemakam  I have tried using ProxySeletor but  it is again giving the same error  i.e. "com.microsoft.azure.servicebus.primitives.ServiceBusException: Error{**condition=proton:io, description='Connection timed out: no further information', info=nul**l}"

[2019-11-28 09:48] ganeshpft commented on #391
Same issue facing with the TransportType.AMQP also. PFA for Iteration results
![Transport AMQP Iteration Results](https://user-images.githubusercontent.com/57743935/69795289-e5e4f780-11f1-11ea-8c62-812515bb575d.PNG)

Lib used - >azure-service-2.0.0.jar

POM

[code]

[2019-12-02 06:54] hemanttanwar commented on #384
Issue : https://github.com/Azure/azure-sdk-for-java/issues/5801 closed .

[2019-12-02 22:53] yvgopal commented on #391
Now I see what is causing your issue. After every receive batch call, you are closing the receiver. That's why those messages are lost. They are in the closed receiver. Here is what is happening..
1. You open a receive link
2. You send a request for 5 (your batch size) messages.
3. Messages will arrive into the receiver one after the other. All 5 don't come in one batch. There is no batching per s

[2019-12-02 22:53] #391 closed, assigned to yvgopal

[2019-12-05 07:52] ganeshpft commented on #391
Is there any way to read the messages from the closed receiver? or before closing the connection can we able to check any messages available in the receiver?

One receiver per receive call, with PEEKLOCK mode also wont solve the receiveBatch problem.
(n - Batch Size, x - Received Message Count)
In receiveBatch API call, x messages received and n-x messages will be in locked state because of connec

[2019-12-05 19:51] yvgopal commented on #391
No. You cannot read messages from a closed receiver.
Agree with the second observation. Still one receiver for each receiveBatch() call is not a good idea.

[2019-12-10 07:25] paroda opened #393 "High cpu usage by QueueClient on idle state"
## Actual Behavior
High cpu usage on idle
After calling the QueueClient.registerMessageHanlder, the cpu usage increases to 12%, but the queue is empty.

## Expected Behavior
On idle state it should be very low like <1%.  Its a 3GHz cpu. Have no clue what could be the reason. Could you provide some hints at what to look for? Is it somehow aggressively polling instead of long-polling? Any properties

[2019-12-12 21:47] yvgopal commented on #393
It depends on MessageHandlerOptions. MaxConcurrentThreads is the number of threads polling, and MessageWaitDuration is something like polling interval. Tweak those two values to reduce CPU activity.

[2019-12-12 21:47] #393 closed, assigned to yvgopal

[2019-12-24 11:49] dsibilio opened #394 "Slow message consumption when using sessions"
## Actual Behavior
I've noticed a very slow message consumption rate when the message production frequency wasn't very high.
More in detail, I've seen that when many messages are produced in a row the consumption seems to be quite fast but when a message is just produced once in a while the consumption takes usually up to 60s - which is clearly unacceptable for many business scenarios.

Digging th

[2020-01-08 09:42] las3r commented on #333
@yvgopal I'm sorry to resurrect this issue, but we're facing this issue with 2.0.0. A year back we've had issues when on 1.0.0, and then we were told to move over to 2.0.0.

If I look at the releases I can see that the 2.0.0 branch has been silent ever since (no releases), so what is our upgrade path now? Do we 'downgrade' to the latest 1.2.x which is actually newer and contains more bugfixes?

Ar

[2020-01-08 16:39] yvgopal commented on #333
I don't know if you are experiencing the same issue. Rather than spending time investigating why 2.0.0 has the issue, I suggest you upgrade to the latest version 3.1.4.
The repo has moved to new location https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/servicebus

[2020-01-09 12:47] pluckhurst opened #395 "No messages received for 16 minutes following ServiceBus TimeoutException"
## Actual Behavior
**Summary of problem**
Some UpdateState requests fail with TimeoutException and we then don't receive any messages from the queue for 16 minutes when the connection times out and reconnects. If this is expected behaviour is there a way we can configure a much shorter timeout?

**Details with lots of log output**
We process messages in a loop until we we stop our process or we ge

[2020-01-14 10:49] AltarBeastiful commented on #122
Has any work been done regarding connection pooling ?
Alternatively, an example implementation would be interesting. There is some grey areas for me to work on this.

For example, can I reuse a QueueClient across my threads ? Or is there any connection pooling done by the ClientFactory ?

[2020-01-14 20:37] yvgopal commented on #122
For QueueClient, TopicClient, SubscriptionClient.. No work has been done on connection pooling. Each client uses its own connection.
You can create multiple MessageSender and MessageReceivers to use the same connection. You can use ClientFactory static methods to do it. Remember that one MessagingFactory = one connection. If multiple senders or receivers share a messagingfactory instance, it means

[2020-01-14 20:37] #122 closed

[2020-01-29 00:22] yvgopal commented on #394
I understand you want to retry immediately after wait for accept-session times out. But I am not yet ready to accept that requirement. I see that you have a repro. But you can't repro it unless you time your message sending right after an accept-session timeout. I am not sure if it adds value to all customers.

It is logical to wait before retrying a timed out operation. It also avoids sending too

[2020-03-06 21:29] st0ve commented on #349
I think this needs to be reopened

[2020-03-20 11:55] hurschler commented on #111
The ticket was closed, but what about the transaction support for the Java client. Any info?

[2020-03-31 21:14] pascencio opened #397 "Delivery not found on the receive link"
## Actual Behavior
1. I have two applications (A and B) running independently
2. Both use different topics: A-to-B and B-to-A
3. Both have it's own TopicClient, SubcriptionClient and IMessageHandler.
4. When both are running and send from A application to B and vice versa, in both I'm getting the error: Delivery not found on the receive link

## Expected Behavior
1. Application B receive the messa

[2020-03-31 21:25] pascencio commented on #397
Hi, I tested versión 3.2.0 recently and got the same exception.

[2020-04-29 22:12] clouddna-au commented on #280
Hi @marcioos How did you disable the Sdk logs, I have tried the following in our function v2 host.json file:

[code]

 but it seems to have still shown up in App Insights as an exception

Exception details in AppInsights
[code]

[2020-05-03 14:18] gennadiy-dubina commented on #219
**for JMS client**
to avoid issue with producer no need to use `CachingConnectionFactory` at all
or disable cache for producer - `factory.setCacheProducers(false);`

[2020-05-27 11:14] abhikt48 opened #399 "Forward message from one subscription/queue to another queue/topic"
We are using **azure-servicebus-1.2.11** for sending batch messages. We have requirement to forward message from one subscription/queue to another queue/topic. We can see this feature available in ServiceBus explorer as **Forward To** option.

Can you please suggest, how can we use **Forward To** functionality with **azure-servicebus-1.2.11** ?

[2020-05-28 12:45] FlynnMJ commented on #329
i had same question , bull shit

[2020-05-29 10:37] nwideaimplshagho opened #400 "Getting OutOfMemoryException while contineously running application connected to Service Bus"
In our staging and production application we are getting OutOfMemoryExceptions every 7-10 days. In the dump it is visibel that one Azure Service Bus class(CoreMessageReceiver.java) in taking most of memory and not getting garbage collected even after Full GC.

Client API library -
azure-servicebus-3.1.5.jar

App side service bus parameter settings -

**Service Bus Session Configs -**
maxAutoRenewD

[2020-06-04 14:36] kl298p commented on #395
Has anybody figured out the issue yet? I am working on a project that seems to have this exact same issue. To me if feels like this is an issue between the Azure IaaS VM Virtual NIC => outbound; we have performed multiple tcpdumps that seem to indicate this. The very random 16 minute requests seem to go out, but nothing comes back until 16 minutes later. This happens maybe 1% of the time, so is un

[2020-06-05 08:25] pluckhurst commented on #395
We switched to version 1.2.18 and the problem appears to be fixed, When this happens now we see the connection get aborted after 30 seconds, it then reconnects and resumes processing. This all happens inside the azure client code and we made no changes to our code that calls it.

[2020-06-05 14:00] kl298p commented on #395
Thanks for the info! I will pass this on. We discovered the same issue that exists with private link does not seem to exist if instead we use Vnet peering.

[2020-06-10 15:34] pete-carey opened #401 "CBS Token Timeouts"
## Actual Behavior
We're running load testing, and have six micro-services listening to a set of SBQs, which are defined as endpoints in our IoT hub. Two of these services have recently been stuck in an exception loop of the form:
[code]
Does this mean that the SBQ in the stack trace is inaccessible to the service on which these exceptions are occurring? Obviously it's a timeout issue, but the oth

[2020-06-15 19:41] yvgopal commented on #400
Resolved in version 3.4.0

[2020-06-15 19:41] #400 closed, assigned to yvgopal

[2020-06-16 01:58] yvgopal commented on #401
This repo is closed. There is a new repository now, link to which is listed on the homepage. Please create issues on the new repository, in the future.
Coming to this issue, it could be a bug or transient issue. Did it get into a loop of timeouts and never recover? If it recovered, it could be a temporary issue on the service.

[2020-06-16 02:43] #401 closed, assigned to yvgopal

[2020-06-17 21:00] pete-carey commented on #401
A loop which never recovered. I initially posted this in this repo, but have since also posted it in the repository linked to from here. We can close this issue and resume in the correct repo, if necessary. Well -- perhaps I shouldn't say "never recovered" -- It persisted for 5 days until someone restarted our service.

[2020-06-19 19:09] asbapat opened #402 "ServiceBusException while connecting from Android application"
I am trying to subscribe to azure service bus from android application using Topic based subscription and SASAuthorizationToken. However I am getting the following exception:

` W/System.err: com.microsoft.azure.servicebus.primitives.ServiceBusException: Error{condition=proton:io, description='null', info=null}
    at com.microsoft.azure.servicebus.primitives.ExceptionUtil.toException(ExceptionUti

[2020-07-01 20:04] vsaroopchand commented on #402
@asbapat just a couple of thoughts to eliminate the SAS token as the issue. Can you try the same token with our C# SDK - we have many samples or use the RootManageSharedAccessKey?

[2020-07-01 20:47] yvgopal commented on #402
What is the connection string you are using? It looks like a failure to establish connection to service bus.
Either 1. The connection string is wrong.
Or 2. Something with the environment or network or firewall.

[2020-07-02 13:42] vsaroopchand commented on #402
Ultimately, this solution (SB SDK on Android) is not the most elegant way of getting notifications on the device. Have you considered the following options?

Logic Apps > Service Bus Connector > Email via O365 connector
Logic Apps > Service Bus Connector > SMS Text
Logic Apps > Service Bus Connector > Azure Function w/ Notification Hub bindings for Push Notification

These are all more elegant & u

[2020-07-14 06:49] vispk opened #403 "Qpid JMS (AMQP 1.0) to Azure Service BUS Message Property Mapping"
## Actual Behavior
1. JMS Header properties in the sent message are not reflected in Message System properties in Azure bus, for the same message received.
2. e.g 'JMSMessageID=ID:0a86c4ee-ddff-47e0-b187-75fb975b7b70' in the sender side is not reflecting in the 'messageID' property in azure bus message system property. At the same found JMSCorrelationID is reflecting in correlationId field in azur

[2020-07-21 10:47] highbrowansala opened #404 "Periods of prolonged inactivity and frequent MessageLockLostException in QueueClient"
Hello everyone,

## Background
We have a data transfer solution with Azure Service Bus as the message broker. We are transferring data from `x` datasets through `x` queues - with `x` dedicated `QueueClient`s as senders. Some senders publish messages at the rate of one message every two seconds, while others publish one every 15 minutes.

The application on the data source side (where senders are)

[2020-07-23 12:32] ertwroc opened #405 "CoreMessageReceiver.returnMesagesLoopDaemon is being executed too often causing higher CPU consumption"
## Actual Behavior
CoreMessageReceiver.returnMesagesLoopDaemon is scheduled to be executed every millisecond even if there are neither prefetched messages nor pending receivers, causing unnecessary higher CPU usage.

## Expected Behavior
Solution to this could be to use blocking queue and its `take()` method or `poll(time, unit)` instead of `poll()` for `prefetchedMessages` and `pendingReceives` c

[2020-08-05 13:12] highbrowansala commented on #404
The issue was not with the `QueueClient` object per se. It was with the processes that we were triggering from within the `MessageHandler`: `processDB1(customObject)` and `processDB2(customObject)`. since these processes were not optimized, the message consumption dropped and the locks gor expired (in peek-lock mode), as the handler was spending more time (in relation to the rate at which messages

[2020-08-05 13:12] #404 closed, assigned to nobody

[2020-08-20 15:28] ryan-murphy-sc opened #406 "CoreMessageReceiver.returnMesagesLoopDaemon is being executed too often causing higher CPU consumption"
Hi. This is a cross-post from https://github.com/Azure/azure-service-bus-java/issues/405 since I don't know if anyone is looking at those, and we are having the issue with service bus 3.x.

## Actual Behavior
CoreMessageReceiver.returnMesagesLoopDaemon is scheduled to be executed every millisecond even if there are neither prefetched messages nor pending receivers, causing unnecessary higher CPU u

[2020-08-27 07:50] SunShine-Smile commented on #219
@las3r
try to add a maven dependency, maybe this issues will be solved ^_^
`<dependency>
    <groupId>com.microsoft.azure</groupId>
    <artifactId>azure-servicebus-spring-boot-starter</artifactId>
    <version>XXX</version>
</dependency>`

[2020-08-28 03:01] ryan-murphy-sc commented on #406
I created this is the wrong repo. Closing.

[2020-08-28 03:01] #406 closed, assigned to nobody

[2020-09-08 15:54] tomiasko opened #407 "Batch complete"
Is it possible to implement batch complete feature? When I receive batch of messages it seems to be a performance bottleneck that I cannot batch complete the messages. When I was searching for a solution i found that .NET library supports such a feature. Then I also found commented out method completeBatch inside IMessageReceiver. Are there any plans for implementing this feature?

[2020-09-08 15:59] #407 closed, assigned to nobody

[2020-09-09 03:02] Andycharalambous commented on #402
I have the same error message but it’s a java app running on azure container instance. I’ve tried using the same connection string with a dot net version of the app also running in ACI and it works just fine. The same java app runs fine locally and also on a normal azure VM.

I can’t figure this out - the logs don’t contain any hints as to what the problem is.

I have connected to the aci containe

[2020-09-28 07:56] ianaz commented on #386
@sajankhandelwal we have the same problem in Go; did you solve or found out what was causing the issue?

[2020-10-02 08:19] khauser commented on #291
@yvgopal Would you mind to also remove the unneeded stacktrace? And why not DEBUG?

[2020-10-05 10:44] deepesh-verma opened #408 "Connection error. 'Error {condition=amqp:connection:forced, description='The connection was inactive for more than the allowed 300000 milliseconds and is closed by container 'LinkTracker'. TrackingId:135738c4493b4c34b56f669350d95a2a_G6, SystemTracker:gateway5, Timestamp:2020-09-07T22:05:14', info=null}"
## Actual Behavior
Getting the below error -
[com.microsoft.azure.servicebus.primitives.MessagingFactory]**[ERROR]** Connection error. 'Error

{condition=amqp:connection:forced, description='The connection was inactive for more than the allowed 300000 milliseconds and is closed by container 'LinkTracker'. TrackingId:135738c4493b4c34b56f669350d95a2a_G6, SystemTracker:gateway5, Timestamp:2020-09-07T

[2020-10-16 14:46] tonyfarney commented on #331
I wasted some precious time just to discover how should I get the message body without using the getBody deprecated method. Please put some comment in the getBody's javadoc stating about the modification, containing the code snippet ".getMessageBody().getBinaryData().get(0)".

[2020-10-19 15:19] abhikt48 commented on #397
I am also getting same error with `azure-servicebus:3.3.0` . Please find below sample code to replicate this issue.

[code]

[2020-10-27 20:16] giventocode opened #409 "ManagedServiceIdentityTokenProvider not included in the maven release"
## Actual Behavior
1. Current maven package 3.4.0 does not include  the ManagedServiceIdentityTokenProvider
2. We can't use Managed Identity via AppServices

## Expected Behavior
1. Include the ManagedServiceIndenityTokenProvider in a maven release.,

[2020-10-28 14:21] giventocode commented on #409
Moving to the right repo

[2020-10-28 14:21] #409 closed, assigned to nobody

[2020-11-05 17:36] AltarBeastiful commented on #291
We still have logs filled with stacktraces for idle connections. Is there anyway to avoid them @yvgopal ?

[2020-11-10 23:23] yvgopal commented on #408
Could you upgrade to the latest version of the SDK? We changed log levels to INFO in later versions.

[2020-11-10 23:23] #408 closed, assigned to nobody

[2020-11-13 15:01] dsibilio commented on #394
For anyone who stumbles upon this issue, it seems to have finally been solved in Azure ServiceBus 3.5.0: https://github.com/Azure/azure-sdk-for-java/pull/16828 🥳

[2020-11-13 15:01] #394 closed, assigned to yvgopal

[2020-12-19 01:36] Andycharalambous commented on #351
I'm experiencing a very similar problem to this - and i can reproduce without any load at all - just start listening to a queue and let the application run for 10-20 minutes before i see the same logs saying things are being closed. At this point even if a message does appear in the queue, it will not be picked up until the application is restarted. Having read the thread on here, I'm attempting t

[2021-02-09 14:14] dazinator commented on #280
I am using `Microsoft.Azure.ServiceBus` package to listen to a queue in a .netcore 3.1 application.
I am seeing that the exception handler (provided when listening to messages) is being invoked - with this exception.
Reading the above - I am confused. Is this an exception or not? I currently log this exception because its surfaced as one.

[code]

[2021-03-11 08:14] BraYounger commented on #232
Hi @unluckypixie , could you help to find the pull request link and attach it here, it will be really appreciate!

[2021-03-14 11:49] jmiddleton commented on #95
@binzywu I'm facing the same issue mentioned here but my problem is that the client application is not under my control (third party application) and they are using TextMessage. I have done some testing today and it's still an issue. Do you know if there is still in the backlog or there is any alternative to process a message from Azure Functions - nodejs.

Thanks,
Jorge

[2021-03-14 22:33] unluckypixie commented on #232
How do you mean sorry? This was a while back but I think I just rebuilt the project with the 1.2.6 release version ...

[2021-03-16 09:22] ingvildodegard opened #411 "Stopping the reactor because thread was interrupted or the reactor has no more events to process."
## Actual Behavior
1. We are using ServiceBusReceiverAsyncClient to receive messages from an Azure service bus. The problem is that after a while, it suddenly stops receiving messages from the queue, and we need to restart the application in order to make it read the messages again. We have not yet found any logic related to when it stops. It can stop after 30 minutes, and it can stop after severa

[2021-03-17 19:01] yvgopal commented on #95
@jmiddleton We fixed this issue long time back in Azure Service Bus Java SDK, by supporting all AMQP body types. I am not sure how node.js SDK handles them. Could you please post your question to [https://github.com/Azure/azure-sdk-for-js](https://github.com/Azure/azure-sdk-for-js)?

[2021-03-17 21:18] jmiddleton commented on #95
Thanks for confirm it. I raised a ticket with Azure support and it seems to be in Azure Function the problem. I have tested with a standalone Node and Java application and it works but not when Azure Function consume the message.

[2021-03-22 17:01] vlaguduva opened #412 "MessageAndSessionPump closes the connection on the receipt of SIGTERM."
## Actual Behavior
1. On receipt of SIGTERM, MessageAndSessionPump closes the connection to service bus even though close/closeAsync is not called on queueClient.
2. I have a spring boot application that handles the SIGTERM for graceful shutdown - as part of graceful shutdown, the code calls queueClient.closeAsync to close the connection to Azure Service bus. Unfortunately, MessageAndSessionPump c

[2021-03-23 16:18] jbaliuka opened #413 "Memory Leak"
## Actual Behavior
1.  OutOfMemoryError

Memory leak is caused by some of internal error handlers because java.lang.StackTraceElement and related data structures are using most of the heap. Do you need java heap dump ? It is a huge file.

I suspect SDK error handler because my handler is trivial and I am using logging library in many other applications:
[code]

## Expected Behavior
1.  No memory l

[2021-05-26 05:13] abhijitkushwaha1998 opened #414 "receiveMessages method with maxWaitTime not working as expected"
## Actual Behavior
1. I am working on azure service bus and using ServiceBusReceiverClient.receiveMessages(int maxMessages, Duration maxWaitTime) method to receive the message from the service bus, my use case is to receive batch of messages in specific amount of time. But this is not working as expected it is not waiting for duration maxWaitTime.
2.  it start the processing of the message as soon

[2021-06-14 05:16] vlaguduva commented on #271
I also received this exception but cannot reproduce consistently.

[2021-06-30 12:44] alisharifi01 opened #415 "@ServiceBusQueueTrigger MSI authentication"
Hello,
I wonder to know if @ServiceBusQueueTrigger supports Managed Identity Authentication?
I have tried the suggested connection string to enable Microsoft Documentation (Endpoint=sb://{{Fully qualified namespace name}}/;Authentication=Managed Identity), then the connection string has not been resolved.
Thank you in advance

[2021-07-19 02:40] Scarlettliuyc commented on #307
hi @yvgopal  could you please tell me whether this "But we saw similar issue from another customer running their application inside a container" issue fixed? We have another customer with similar issue, customer using Java SDK run in Function App docker container .the connection disconnected for a few minutes but there isn't any exception in Service Bus and Java Exception. It cannot reconnect with

[2021-09-22 20:19] RobOhRob opened #416 "Azure service bus jar changing default Spring Boot behavior"
I am currently using Spring Boot version 2.1.3.RELEASE with version 7.1.0 of Azure service bus.

`implementation group: 'com.azure', name: 'azure-messaging-servicebus', version: '7.1.0'`
Simply adding the line above to my build.gradle script alters default Spring Boot behavior. Hitting a GET endpoint without any Accept header specified  is returning XML instead of JSON and creating a RestTemplate

[2021-10-05 07:31] vpeddada-tibco opened #417 "ServiceBusSenderClient sendMessage method doesn't return MessageId after pushing the message to the queue/topic"
## Actual Behavior
1.When we try to send a message to a queue or a topic using the following method,
`com.azure.messaging.servicebus.ServiceBusSenderClient.sendMessage(ServiceBusMessage message) `
 it doesn't return MessageId of the message that just got pushed.

2. When a MessageId is not assigned in the **ServiceBusMessage** object, then a GUID gets created  internally for that message to unique

[2021-10-05 07:56] #417 closed, assigned to nobody

[2021-10-05 07:57] vpeddada-tibco commented on #417
Closed this issue as it is created on the wrong repository

[2021-10-14 20:42] Rawjyot opened #418 "Getting "ReactorDispatcher instance is closed" error when trying to close the azure service bus connection after receiving message"
## Actual Behavior
1. When I read a message from azure service bus using ServiceBusReceiverClient, I am successfully receiving the message, but when I try to close the connection it says ReactorDispatcher instance is closed as an error.
2. I am using **receiver.close()** to close the connection after processing the received messages.
[code]

## Expected Behavior
1. I should be able to close the co

[2021-10-16 00:42] anuchandy commented on #418
@Rawjyot, thanks for sharing the observation. We have already noticed via many git-issues that this log message with the "error" level is misleading users. The level of this log message changed to"warning" in 7.4.2 (in Oct release).

There are multiple threads running in parallel; hence it's possible that when the connection close is in progress, another thread may attempt to "dispatch" work to th

[2021-10-19 05:59] mayankkthr opened #419 "How to setup Message Listener to pickup message immediately on arrival (Pricing Tier: Basic)"
Currently we are polling Service Bus Queue with a delay of 15 seconds to receive messages.
Reducing this delay increases the CPU Utilization drastically.
How to setup a listener to pickup the message immediately on arrival.
Does Azure Java Library provide any such implementation?
We are on Spring Boot framework and we use Basic Pricing Tier of Azure Service Bus Queue.
Any known Spring Framework im

[2021-10-19 17:27] lordarcy commented on #418
@anuchandy the problem we're having is that after receiving this warning message subsequent attempts to retrieve a message with a new ServiceBusReceiverClient will fail for several minutes and generate the same error message. Eventually an attempt is successful but, after polling a few times we get the same error again when calling close().

You mentioned the library had multiple threads running i

[2021-10-21 03:26] anuchandy commented on #418
I see; yes Jim, ServiceBusClientBuilder shares a few resources among the clients built from it. It is possible that after the closing of the first client but before the completion of underlying async resources cleanup, a newing up of the second client might be getting the endpoint from the cache. Due to the async cleanup/notification, it takes some time for the second client to detect it.

Can you

[2021-10-25 09:01] ThanseehAslam commented on #365
@yvgopal do you have any update on this?
We are still facing issues that the reactorThread is not closing even though we close it multiple times

[2021-10-25 12:35] lordarcy commented on #418
@anuchandy the code is using a new ServiceClientBuilder every time:

receiver = new ServiceBusClientBuilder()
            .connectionString(azureServiceBusConfig.azureBusConnectionString)
            .receiver()
            .disableAutoComplete()
            .topicName(azureServiceBusConfig.azureBusTopicName)
            .subscriptionName(azureServiceBusConfig.azureBusSubscriptionName)

[2021-10-25 14:06] Mick-Auger commented on #365
Just to add to this, this issue does occur when the application losses its connection to the Azure end point. Surely the thread should handle connection outages cleanly? Is there any sort of workaround that we could consider to get around this? Any alternative ways of coding the connection so that when a network disconnection occurs the thread closes cleanly?

[2021-11-10 17:25] anuchandy commented on #418
Hi @lordarcy, I tried to repro the behavior using the code below, where we can see "create-client, receive-message, and close-client" in a loop (10 times).

[code]

But I don't see the issue you mentioned happening, the output of the execution looks like this

[code]

Could you please double check my code and also see if this is how your application is attempting to use the client.

[2021-11-10 20:13] lordarcy commented on #418
I see three main differences:

1. The class that is instantiating the ServiceBusClientBuilder is in turn getting instantiated each time a polling transaction occurs. This happens because the polling is started from an Apache Camel route that calls a Processor which in turn creates a new MessageReceiver. The MessageReceiver has a try/catch block containing the code from comment https://github.com/A

[2021-11-10 23:57] anuchandy commented on #418
Thanks, I'm trying to map your points back to code -

so you have a concept known as "polling transaction." Each time the "polling transaction" executes, it "create-client instance, receive a message, and close-client instance", meaning there is a 1:1 relationship between a client instance and an execution of "polling transaction".

Isn't the sample code I posted doing, where one iteration of the

[2021-11-11 04:21] lordarcy commented on #418
The two things missing from your sample are:

- The time difference between each ServiceBusClientBuilder getting created
- Because our code is coming from a new Camel route for each poll it's also likely using a different thread each time the pair of ServiceBusClientBuilder instances (main queue and DLQ) are getting created

[2021-11-12 12:22] meteor1016 opened #420 "Azure event hub connection is closed error"
I see something like the following error while using azure event hub to send event message. But as I see in the azure portal, the metric shows that the event message is sent to the event hub.

" Error{condition=amqp:connection:forced, description='The connection was inactive for more than the allowed 300000 milliseconds and is closed by container 'LinkTracker'. TrackingId:0000000000000000000000000

[2021-12-10 20:12] anuchandy commented on #418
@lordarcy Sorry for the late follow-up, Is it possible for your team to update the code I shared so far to match the way you are using the library, so that this can be reproduced on our end? I've pushed the code to git we've been discussing above to here https://github.com/anuchandy/attempt-repro-polling-bug. It can be cloned, ready to run once you set the connection string and queue in the env va

[2021-12-10 20:33] lordarcy commented on #418
@Rawjyot is this something you can try?

[2021-12-11 10:12] Rawjyot commented on #418
Yes sure I will give it a try

On Sat, 11 Dec, 2021, 2:03 am Jim Robbins, ***@***.***> wrote:

[2021-12-17 19:06] lordarcy commented on #418
@Rawjyot have you had a chance to try updating the code sample with the library to try and reproduce the problem?

[2021-12-20 19:19] Rawjyot commented on #418
@anuchandy can you please provide me access to https://github.com/anuchandy/attempt-repro-polling-bug again?  I tried accessing it and it says the invitation has expired.

[2021-12-23 17:54] Rawjyot commented on #418
@anuchandy I don't have access to the above private repository you shared, meanwhile, @lordarcy shared the code base with zip. I have gone through the codebase, here are a few observations.

 1) The code shared in the above repo is using ServiceBusReceiverClient to poll the queues and the actual code with the issue is using ServiceBusClientBuilder to poll the topics.
2) The above codebase is not u

[2022-01-07 06:51] onlywithlad commented on #280
HI Team,

Can anyone please guide on same issue. As i am also facing the same issue - Microsoft.Azure.ServiceBus.ServiceBusException: The connection was inactive for more than the allowed 60000 milliseconds and is closed by container '9a467ca2-d058-4484-8c39-99e4842d3555'. I am using Microsoft.Azure.ServiceBus with latest version

[2022-01-18 05:30] wuting5250 commented on #280
I am also having this problem. If reconnecting is normal, I don't want it showing up in my logs.

[2022-01-21 14:58] ArchanaSugumar commented on #219
Can you provide the spring cloud stream library which resolved this issue

[2022-01-24 13:50] Juansero29 commented on #280
My company is also having this logs. We don't understand why this is logged as a "[Fatal]" error if this is just an information log when the service has been inactive for sometime. Please remove this log from Fatal and make it just  warning or an information log!

[2022-04-04 08:00] RJJdeVries opened #421 "Error occurred while refreshing token that is not retriable. Not scheduling refresh task."
## Actual Behavior
1. Getting the error: " Error occurred while refreshing token that is not retriable. Not scheduling refresh task."
2.

## Expected Behavior
1. No error while refreshing the token

Apologies for the vague error description, but this is all I'm getting from my deployment logs. Below the full output:

2022-04-04 07:45:25,557 ERROR [com.azu.cor.amq.imp.ActiveClientTokenManager] (rea

[2022-04-14 14:32] KnyGoo commented on #416
Experiencing the same issues...

MappingJackson2XmlHttpMessageConverter is added to our resttemplate after including Azure Service Bus library...This is because Spring will add it to resttemplate when there exists an XmlMapper.class...

[2022-05-04 06:47] arorashivam opened #422 "Infinite Receiver/Subscriber Issue | Java 11 | Spring Boot 2.5.*"
**Attempt 1 :**
**Actual** :
The receiver/subscriber is getting disposed/closed off after some duration, like : 24hours !!
We kept it in the start mode with an expectation that it would never be disposed.
Please refer the following code :
[code]

**Expectation** : The receiver/subscriber should remain alive for the entire application's lifecycle for the obvious reason as we want to keep listening

[2022-06-01 15:54] edwinjames07 commented on #416
Issue still exists in the latest version(7.8.0)

@KnyGoo @RobOhRob  Have you got any solution for this?

[2022-06-13 20:36] RobOhRob commented on #416
Exclude the jackson-dataformat-xml package from the service bus package in the gradle or pom

[2022-06-20 05:40] srikarasr commented on #422
[code]

[2022-06-20 05:42] srikarasr commented on #422
SDK Version
[code]

[2022-07-20 09:03] Thor-tech-of-metal commented on #271
I am getting the same exception with the latest libs

implementation group: 'com.azure', name: 'azure-messaging-servicebus', version: '7.10.0'
implementation group: 'com.azure', name: 'azure-core', version: '1.30.0'

2022-07-19T16:32:28.171 WARN  [task-1] c.a.m.s.implementation.ServiceBusReactorReceiver {"az.sdk.message":"Delivery not found to update disposition.","entityPath":"tob-out-bound","lin

[2022-07-28 13:23] dhyanivikas commented on #416
@RobOhRob What do you specifically mean when you mention "Exclude the jackson-dataformat-xml package from the service bus package in the gradle or pom" ?
We have included only following in our gradle:
implementation group: 'com.azure', name: 'azure-messaging-servicebus', version: '7.1.0'
There's no specific dependency mentioned for jackson-dataformat-xml

[2022-08-02 15:55] conniey commented on #416
Hey.

azure-messaging-servicebus depends on azure-core, which has a dependency on `jackson-dataformat-xml` (https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/azure-core/pom.xml#L114-L118).

The endpoints used by ServiceBusAdministrationClient and ServiceBusAdministrationAsyncClient return/consume XML. However, if you are not going to use those clients, you can exclude jackson-dataform

[2022-08-02 17:24] conniey commented on #416
I moved the bug to our repository.  This repo references our legacy library.

[2022-08-02 21:57] dhyanivikas commented on #416
We have already tried the exclusion option in following two ways:

compile (group: 'com.azure', name: 'azure-core', version: '1.18.0') {
   exclude group: 'com.fasterxml.jackson.dataformat', module: 'jackson-dataformat-xml'
}
And
configurations.implementation {
   exclude group: 'com.fasterxml.jackson.dataformat', module: 'jackson-dataformat-xml'
}

And then the application fails at the receiver s

[2022-08-05 15:23] JonnyyJ commented on #280
Hi We faced this issue in Our durable function, we use the servicebus queue as a trigger for the starter function , besides this exception message under the exception properties, we also found a messages processing error under the custom properties:

Custom Properties
LogLevel: Information
FormattedMessage: Message processing error(Action=Receive, ClientId = ***
At this point, we found some messag

[2022-08-31 14:39] SofiaVynnytska12 opened #423 "Error processing ASB queues with Spring Boot and Apache Camel"
We use Spring Boot (v.3.7.1), apache camel (v.3.18.1), camel-azure-servicebus-starter (v.3.18.1) ;
The connection string is correct and has valid format;
Queues are created like this : azure-servicebus:queueName?connectionString=ourConnectionString;

While trying to create camel routes to azure service bus queues we are receiving an exception:

[org.apache.camel.component.azure.servicebus.ServiceB

[2022-08-31 14:54] #423 closed, assigned to nobody

[2022-10-31 00:00] ki1729 commented on #416
@RobOhRob, @dhyanivikas : the problematic jackson xml library has been made an optional dependency. This should fix the issue. Please let us know if that is not the case.